Repository world-wide-weights/wwweights: changes, and which Codecov flags are due for each by the changed paths.
All: auth-backend, command-backend, image-backend, query-backend

feat(delete): add edit event
  backend/command/src/eventstore/dtos/edited-item-event.dto.ts
  backend/command/src/eventstore/eventstore.ts
  backend/command/src/items/commands/delete-item.handler.ts
  backend/command/src/items/commands/edit-item.command.ts
  backend/command/src/items/commands/edit-item.handler.ts
  backend/command/src/items/commands/index.ts
  backend/command/src/items/commands/suggest-item-edit.handler.ts
  backend/command/src/items/events/index.ts
  backend/command/src/items/events/item-edited.handler.ts
  backend/command/src/items/sagas/suggestions.saga.ts
Due: command-backend

feat(delete): cleanup
  backend/command/test/items.e2e-spec.ts
Due: command-backend

feat(deleteItem): add saga
  backend/command/src/eventstore/dtos/deleted-item-event.dto.ts
  backend/command/src/eventstore/dtos/edited-item-event.dto.ts
  backend/command/src/eventstore/eventstore.ts
  backend/command/src/items/commands/delete-item.command.ts
  backend/command/src/items/commands/delete-item.handler.ts
  backend/command/src/items/commands/edit-item.command.ts
  backend/command/src/items/commands/index.ts
  backend/command/src/items/commands/suggest-item-delete.handler.ts
  backend/command/src/items/events/index.ts
  backend/command/src/items/events/item-delete-suggested.handler.ts
  backend/command/src/items/events/item-deleted.event.ts
  backend/command/src/items/events/item-deleted.handler.ts
  backend/command/src/items/events/item-edit-suggested.handler.ts
  backend/command/src/items/events/item-edited.event.ts
  backend/command/src/items/sagas/index.ts
  backend/command/src/items/sagas/suggestions.saga.ts
  scripts/README.md
Due: command-backend

cleanup(ar): remove unneeded
  backend/README.md
  backend/command/src/eventstore/eventstore.ts
  backend/command/src/items/commands/insert-item.handler.ts
  backend/command/src/items/commands/suggest-item-delete.handler.ts
  backend/command/src/items/commands/suggest-item-edit.handler.ts
  backend/command/src/models/delete-suggestion.model.ts
  backend/command/src/models/edit-suggestion.model.ts
  backend/command/src/models/item.model.ts
  backend/command/src/models/tag.model.ts
Due: command-backend

feat(delete): update tests
  backend/command/src/items/commands/delete-item.handler.ts
  backend/command/src/items/commands/edit-item.handler.ts
  backend/command/src/items/commands/suggest-item-delete.handler.ts
  backend/command/src/items/events/item-edit-suggested.handler.ts
  backend/command/src/items/sagas/suggestions.saga.ts
  backend/command/test/items.e2e-spec.ts
  backend/command/test/mocks/eventstore.ts
Due: command-backend

cleanup:cleanup
  backend/command/src/items/commands/delete-item.handler.ts
  backend/command/src/items/commands/edit-item.handler.ts
  backend/command/src/items/sagas/suggestions.saga.ts
Due: command-backend

feat(cleanup): cleanup
  backend/command/src/eventstore/eventstore.ts
  backend/command/src/items/commands/suggest-item-delete.handler.ts
  backend/command/src/items/commands/suggest-item-edit.handler.ts
  backend/image/src/shared/enums/roles.enum.ts
  backend/image/src/shared/enums/status.enum.ts
  backend/image/src/shared/interfaces/jwt-payload.interface.ts
  backend/image/src/shared/interfaces/request-with-user.interface.ts
Due: command-backend, image-backend

feat(delete): udapte comments
  backend/command/src/items/sagas/suggestions.saga.ts
Due: command-backend

Add label required Update style
  frontend/src/pages/account/profile.tsx
Due: none

Update UX writing Remove warning
  frontend/src/pages/account/profile.tsx
Due: none

Fix import for test files
  frontend/src/components/Form/TextInput/chipTextInput.cy.tsx
Due: none

devops(docker): fix frontend
  frontend/Dockerfile
  frontend/entrypoint.sh
Due: none

Update input
  frontend/src/components/Form/TextInput/ChipTextInput.tsx
  frontend/src/components/Form/TextInput/chipTextInput.cy.tsx
  frontend/src/pages/contribute/create.tsx
Due: none

Update gitignore
  .gitignore
Due: none

Extend query API to CLIENT / SERVER
  frontend/.env.example
  frontend/env.d.ts
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/Header/SearchHeader.tsx
  frontend/src/pages/account/profile.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/tags/index.tsx
  frontend/src/pages/weights/[slug].tsx
  frontend/src/pages/weights/index.tsx
  frontend/src/services/axios/axios.ts
Due: none

Add possability to add icon to chip
  frontend/src/components/Chip/Chip.tsx
Due: none

Add new env to all files
  .github/workflows/frontend-ci.yml
  docker-compose.yaml
  frontend/Dockerfile
  sample.env
Due: none

Cleanup
  frontend/src/components/Form/TextInput/ChipTextInput.tsx
  frontend/src/pages/contribute/create.tsx
Due: none

Rename tag to chip
  frontend/src/components/Form/TextInput/ChipTextInput.tsx
Due: none

devops(docker): fix frontend docker
  sample.env
Due: none

feat(sample data): fix images
  docker-compose.yaml
  scripts/data/sample.json
Due: none

Fix warning for footer image warning
  frontend/src/components/Footer/Footer.tsx
Due: none

feat(docker): fix defaults
  docker-compose.yaml
Due: none

feat(docker): move netrypoint
  frontend/Dockerfile
  frontend/docker-entrypoint.sh
Due: none

Update frontend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

Fix image warning.
  frontend/src/pages/weights/[slug].tsx
Due: none

Fix bug with you can not go back
  frontend/src/components/Auth/Auth.tsx
  frontend/src/pages/account/login.tsx
  frontend/src/pages/account/register.tsx
Due: none

Add error handling and beautify textinput
  frontend/src/components/Form/TextInput/ChipTextInput.tsx
  frontend/src/pages/contribute/create.tsx
Due: none

FIx bug with errors
  frontend/src/components/Form/TextInput/ChipTextInput.tsx
Due: none

Fix cypress envs
  frontend/cypress.config.ts
  frontend/cypress/e2e/profile/error.cy.ts
  frontend/cypress/support/commands.ts
Due: none

Adjust margins
  frontend/src/components/Form/TextInput/ChipTextInput.tsx
Due: none

Add basic tests
  frontend/src/components/Form/TextInput/chipTextInput.cy.tsx
Due: none

Update inital value Update validation
  frontend/src/pages/contribute/create.tsx
Due: none

Add helper text
  frontend/src/components/Form/TextInput/ChipTextInput.tsx
  frontend/src/pages/contribute/create.tsx
Due: none

Cleanup
  frontend/src/pages/contribute/create.tsx
Due: none

Add chip textinput tests
  frontend/src/components/Form/Label.tsx
  frontend/src/components/Form/TextInput/ChipTextInput.tsx
  frontend/src/components/Form/TextInput/chipTextInput.cy.tsx
Due: none

Update tests
  frontend/cypress/e2e/contribute/create.cy.ts
  frontend/cypress/e2e/tags/list.cy.ts
  frontend/src/components/Form/TextInput/ChipTextInput.tsx
  frontend/src/components/Form/TextInput/chipTextInput.cy.tsx
Due: none

Remove comment
  frontend/src/pages/weights/[slug].tsx
Due: none

Fix create only
  frontend/cypress/e2e/contribute/create.cy.ts
Due: none

Ref create Add edit item
  frontend/src/components/Item/CreateEdit.tsx
  frontend/src/services/item/create.ts
  frontend/src/services/item/image.ts
  frontend/src/services/item/update.ts
  frontend/src/types/item.d.ts
Due: none

Path conditions:
  auth-backend: any of: backend/auth
  command-backend: any of: backend/command
  image-backend: any of: backend/image
  query-backend: any of: backend/query
