Repository world-wide-weights/wwweights: changes, and which Codecov flags are due for each by the changed paths.
All: auth-backend, command-backend, image-backend, query-backend

codecov.yml:

# Codecov settings
comment:
  behavior: once
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      auth-backend:
        informational: true
        flags: 
          - auth-backend 
      command-backend:
        informational: true
        flags: 
          - command-backend
      image-backend:
        informational: true
        flags: 
          - image-backend
      query-backend:
        informational: true
        flags: 
          - query-backend

flags:
  auth-backend:
    paths:
      - backend/auth
  command-backend:
    paths:
      - backend/command
  image-backend:
    paths:
      - backend/image
  query-backend:
    paths:
      - backend/query

feat(codecov): remove path behaviour
  codecov.yml
Due: none

Add incrementat logic for profles on item-inserted
  .gitignore
  backend/command/jest-e2e.json
  backend/command/package.json
  backend/command/src/items/commands/insert-item.handler.ts
  backend/command/src/items/events/item-inserted.handler.ts
  backend/command/src/items/items.controller.ts
  backend/command/src/main.ts
  backend/command/src/models/item.model.ts
  backend/command/src/models/profile.model.ts
  backend/command/test/helpers/timeout.ts
  backend/command/test/items.e2e-spec.ts
  backend/command/test/mocks/items.ts
Due: command-backend

Add test for increment profile on insert
  backend/command/test/items.e2e-spec.ts
Due: command-backend

feat(suggest): add tests
  backend/command/test/items.e2e-spec.ts
Due: command-backend

fixed wrong outline
  frontend/src/components/Form/TextInput/ChipTextInput.tsx
Due: none

changed icon to icon component
  frontend/src/components/Form/TextInput/ChipTextInput.tsx
Due: none

add field from formik to component, add comments
  frontend/src/components/Form/TextInput/ChipTextInput.tsx
Due: none

feat(seeder): add first attempt
  backend/command/src/items/items.controller.ts
  backend/command/src/shared/guards/env.guard.ts
  scripts/README.md
  scripts/bulk-inserter.js
  scripts/data/sample.json
Due: command-backend

add first test
  frontend/src/components/Form/TextInput/ChipTextInput.tsx
  frontend/src/components/Form/TextInput/chipTextInput.cy.tsx
Due: none

feat(bulk insert): add env guard tests
  backend/command/src/shared/guards/env.guard.spec.ts
  backend/command/src/shared/guards/env.guard.ts
Due: command-backend

feat(bulk insert): add tests
  backend/command/test/helpers/retries.ts
  backend/command/test/items.e2e-spec.ts
  backend/command/test/mocks/env-guard.mock.ts
Due: command-backend

feat(bulk insert): add setup helper
  .gitignore
  docker-compose.yaml
  images/test.jpg
  images/test.png
  scripts/README.md
  scripts/bulk-inserter.js
  scripts/data/sample.json
Due: none

Add query for profile statistics
  backend/command/package.json
  backend/command/test/items.e2e-spec.ts
  backend/query/package.json
  backend/query/src/app.module.ts
  backend/query/src/items/items.module.ts
  backend/query/src/models/items-by-tag.model.ts
  backend/query/src/models/profile.model.ts
  backend/query/src/models/suggestion.model.ts
  backend/query/src/profiles/interfaces/profile-statistics-response.ts
  backend/query/src/profiles/interfaces/query-profile-statistics.dto.ts
  backend/query/src/profiles/models/profile.model.ts
  backend/query/src/profiles/profiles.controller.ts
  backend/query/src/profiles/profiles.module.ts
  backend/query/src/profiles/queries/index.ts
  backend/query/src/profiles/queries/profile-statistics.query.ts
  backend/query/src/profiles/queries/profile.statistics.handler.ts
  backend/query/test/items.e2e-spec.ts
  backend/query/test/mocks/profiles.ts
  backend/query/test/profiles.e2e-spec.ts
Due: command-backend, query-backend

feat(arm build): test auth ci
  .github/workflows/auth-backend-ci.yml
Due: none

Update auth-backend-ci.yml
  .github/workflows/auth-backend-ci.yml
Due: none

feat(arm docker): fix auth pipeline
  .github/workflows/auth-backend-ci.yml
Due: none

feat(arm build): simplify ci
  .github/workflows/auth-backend-ci.yml
Due: none

feat(edit suggest): optimize queries
  backend/command/src/items/events/item-edit-suggested.handler.ts
Due: command-backend

feat(suggest): adapt to PR feedback
  backend/command/src/items/commands/suggest-item-edit.handler.ts
  backend/command/src/items/events/item-edit-suggested.handler.ts
  backend/command/src/items/items.controller.ts
  backend/command/src/models/edit-suggestion.model.ts
  backend/command/test/items.e2e-spec.ts
Due: command-backend

use correct jest files
  backend/auth/package.json
  backend/auth/test/jest-e2e.json
  backend/command/package.json
  backend/command/test/jest-e2e.json
  backend/image/package.json
  backend/image/test/jest-e2e.json
  backend/query/jest-e2e.json
  backend/query/package.json
  backend/query/test/jest-e2e.json
Due: auth-backend, command-backend, image-backend, query-backend

Address Review
  backend/command/src/items/events/item-inserted.handler.ts
  backend/command/src/models/profile.model.ts
  backend/query/src/items/queries/item-list.handler.ts
  backend/query/src/items/queries/item-statistics.handler.ts
  backend/query/src/items/queries/related-items.handler.ts
  backend/query/src/profiles/models/profile.model.ts
  backend/query/src/profiles/profiles.controller.ts
  backend/query/src/profiles/queries/index.ts
  backend/query/src/profiles/queries/profile-statistics.handler.ts
  backend/query/src/tags/queries/related-tags.handler.ts
  backend/query/src/tags/queries/tag-list.handler.ts
  backend/query/test/profiles.e2e-spec.ts
Due: command-backend, query-backend

fix: typo
  backend/query/test/profiles.e2e-spec.ts
Due: query-backend

Update backend/command/src/items/commands/suggest-item-edit.handler.ts
  backend/command/src/items/commands/suggest-item-edit.handler.ts
Due: command-backend

Update backend/command/src/items/events/item-edit-suggested.handler.ts
  backend/command/src/items/events/item-edit-suggested.handler.ts
Due: command-backend

Update profile.model.ts
  backend/command/src/models/profile.model.ts
Due: command-backend

feat(edit): fix merge issues
  backend/command/src/items/commands/suggest-item-edit.handler.ts
  backend/command/test/items.e2e-spec.ts
Due: command-backend

Add related tags to be optional
  frontend/src/components/Header/SearchHeader.tsx
  frontend/src/pages/weights/[slug].tsx
Due: none

Update tests
  frontend/cypress/e2e/weights/pagination.cy.ts
  frontend/cypress/e2e/weights/search.cy.ts
  frontend/cypress/e2e/weights/sort.cy.ts
  frontend/cypress/e2e/weights/viewtype.cy.ts
Due: none

Add all tags chip
  frontend/src/components/Header/SearchHeader.tsx
Due: none

Add index auth statistics
  frontend/src/pages/index.tsx
Due: none

Add skeleton for all stats
  frontend/src/pages/index.tsx
Due: none

Fix tests
  frontend/cypress.d.ts
  frontend/cypress/e2e/authentication/login.cy.ts
  frontend/cypress/e2e/authentication/register.cy.ts
  frontend/cypress/e2e/authentication/routes.cy.ts
  frontend/cypress/fixtures/auth/register.json
  frontend/cypress/fixtures/auth/session.json
  frontend/cypress/fixtures/auth/statistics.json
  frontend/cypress/support/commands.ts
Due: none

Remove wait
  frontend/cypress/e2e/singleWeights/tabs.cy.ts
Due: none

Adjust profile contributions list
  frontend/cypress.d.ts
  frontend/next.config.js
  frontend/src/components/Item/ItemListContribute.tsx
  frontend/src/components/Item/ItemPreviewList.tsx
  frontend/src/pages/account/profile.tsx
Due: none

Adjust links
  frontend/src/components/EmptyState/SearchEmptyState.tsx
  frontend/src/components/Navbar/Navbar.tsx
Due: none

Update scripts/bulk-inserter.js
  scripts/bulk-inserter.js
Due: none

Update backend/command/src/shared/guards/env.guard.spec.ts
  backend/command/src/shared/guards/env.guard.spec.ts
Due: command-backend

Add profile server side props
  frontend/src/pages/account/profile.tsx
Due: none

Add requests
  frontend/src/pages/account/profile.tsx
  frontend/src/types/profile.d.ts
Due: none
