Repository world-wide-weights/wwweights: changes, and which Codecov flags are due for each by the changed paths.
All: auth-backend, command-backend, image-backend, query-backend

Update naming
  frontend/src/pages/weights/index.tsx
Due: none

fix: proper statistics considering additionalValue
  backend/query/src/items/queries/item-statistics.handler.ts
  backend/query/test/items.e2e-spec.ts
  backend/query/test/mocks/items.ts
Due: query-backend

Can keep even less
  backend/query/test/app.e2e-spec.ts
Due: query-backend

Add global statistics + some linting
  backend/query/src/app.controller.ts
  backend/query/src/app.module.ts
  backend/query/src/items/interfaces/item-statistics.ts
  backend/query/src/items/items.controller.ts
  backend/query/src/items/items.module.ts
  backend/query/src/items/queries/item-list.handler.ts
  backend/query/src/items/queries/item-statistics.handler.ts
  backend/query/src/items/queries/related-items.handler.ts
  backend/query/src/models/edit-suggestion.model.ts
  backend/query/src/models/item.model.ts
  backend/query/src/models/profile.model.ts
  backend/query/src/models/tag.model.ts
  backend/query/src/profiles/interfaces/profile-statistics-response.ts
  backend/query/src/profiles/profiles.module.ts
  backend/query/src/profiles/queries/profile-statistics.handler.ts
  backend/query/src/shared/enums/suggestion-status.enum.ts
  backend/query/src/shared/interfaces/global-statistics.ts
  backend/query/src/tags/interfaces/tag-with-relevance.ts
  backend/query/src/tags/queries/related-tags.handler.ts
  backend/query/src/tags/queries/tag-list.handler.ts
  backend/query/src/tags/tags.controller.ts
  backend/query/src/tags/tags.module.ts
  backend/query/test/app.e2e-spec.ts
  backend/query/test/items.e2e-spec.ts
  backend/query/test/mocks/suggestions.ts
  backend/query/test/profiles.e2e-spec.ts
  backend/query/test/tags.e2e-spec.ts
Due: query-backend

try: to fix openHandle jest issue
  backend/query/package.json
  backend/query/src/shared/interfaces/global-statistics.ts
  backend/query/test/app.e2e-spec.ts
  backend/query/test/tags.e2e-spec.ts
Due: query-backend

Remove outcommented test
  backend/query/test/app.e2e-spec.ts
Due: query-backend

rem: line
  backend/query/test/app.e2e-spec.ts
Due: query-backend

fix: wacky solution
  backend/query/test/app.e2e-spec.ts
  backend/query/test/tags.e2e-spec.ts
Due: query-backend

Add Progress bar for bundle load
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/_app.tsx
Due: none

Add shallow routing to Button
  frontend/src/components/Button/Button.tsx
Due: none

Add shallow routing to tabs to fix bug
  frontend/src/components/Tabs/Tabs.tsx
Due: none

Update config for progressbar
  frontend/src/pages/_app.tsx
Due: none

Add unit test to prove bug
  frontend/src/services/utils/weight.unit.ts
Due: none

Add component tests to prove bug
  frontend/src/components/Item/itemPreviewList.cy.tsx
Due: none

Fix bug in weight.ts
  frontend/src/services/utils/weight.ts
Due: none

Update Dockerfile
  frontend/Dockerfile
Due: none

Update .dockerignore
  frontend/.dockerignore
Due: none

Remove unused variable
  frontend/src/pages/weights/index.tsx
Due: none

feat(delete): start
  backend/command/src/eventstore/enums/allowedEntities.enum.ts
  backend/command/src/eventstore/eventstore.ts
  backend/command/src/items/commands/suggest-item-delete.command.ts
  backend/command/src/items/commands/suggest-item-delete.handler.ts
  backend/command/src/items/commands/suggest-item-edit.command.ts
  backend/command/src/items/events/item-delete-suggested.event.ts
  backend/command/src/items/events/item-delete-suggested.handler.ts
  backend/command/src/items/events/item-edit-suggested.event.ts
  backend/command/src/items/interfaces/suggest-item-delete.dto.ts
  backend/command/src/models/delete-suggestion.model.ts
  backend/command/src/models/edit-suggestion.model.ts
Due: command-backend

fix(frontend image): fix pipeline
  .github/workflows/frontend-ci.yml
Due: none

add itemPreviewGridTest
  frontend/src/components/Item/ItemPreviewGrid.tsx
  frontend/src/components/Item/itemPreviewGrid.cy.tsx
Due: none

add itemListContribute Tests
  frontend/src/components/Item/ItemListContribute.tsx
  frontend/src/components/Item/itemListContribute.cy.tsx
Due: none

Add optional background color
  frontend/src/components/Item/ItemPreviewGrid.tsx
  frontend/src/components/Item/ItemPreviewList.tsx
Due: none

Fix modal not to scroll
  frontend/src/components/Modal/Modal.tsx
Due: none

Add delete modal skeleton
  frontend/src/components/Item/ItemListContribute.tsx
  frontend/src/pages/account/profile.tsx
Due: none

test improvment
  frontend/src/components/Item/itemListContribute.cy.tsx
Due: none

feat(delete endpoint): tests
  backend/command/src/eventstore/eventstore.ts
  backend/command/src/items/commands/index.ts
  backend/command/src/items/commands/suggest-item-delete.handler.ts
  backend/command/src/items/commands/suggest-item-edit.handler.ts
  backend/command/src/items/events/index.ts
  backend/command/src/items/events/item-delete-suggested.handler.ts
  backend/command/src/items/interfaces/suggest-item-delete.dto.ts
  backend/command/src/items/items.controller.ts
  backend/command/src/items/items.module.ts
  backend/command/src/items/sagas/index.ts
  backend/command/src/items/sagas/item-edit-suggested.saga.ts
  backend/command/test/items.e2e-spec.ts
  backend/command/test/mocks/eventstore.ts
  docker-compose.yaml
Due: command-backend

Update backend/query/src/items/queries/item-statistics.handler.ts
  backend/query/src/items/queries/item-statistics.handler.ts
Due: query-backend

feat(delete): udpate default suggestion status
  backend/command/src/items/commands/suggest-item-delete.handler.ts
  backend/command/src/items/commands/suggest-item-edit.handler.ts
  backend/command/src/models/delete-suggestion.model.ts
Due: command-backend

feat(tests): fixes
  backend/command/src/items/commands/suggest-item-edit.handler.ts
  backend/command/test/items.e2e-spec.ts
Due: command-backend

Update avatar
  frontend/src/components/Loading/SkeletonLoadingProfile.tsx
  frontend/src/pages/account/profile.tsx
Due: none

Red create edit
  frontend/src/components/Item/CreateEdit.tsx
  frontend/src/pages/contribute/create.tsx
  frontend/src/pages/contribute/edit/[slug].tsx
  frontend/src/types/item.d.ts
Due: none

Update gitignore
  .gitignore
Due: none

Fix warning
  frontend/src/components/Footer/Footer.tsx
Due: none

Update type
  frontend/src/types/item.d.ts
Due: none

Update item page to be protected for user when not owning item
  frontend/src/pages/contribute/edit/[slug].tsx
Due: none

Fix fixtures
  frontend/cypress/fixtures/items/list.json
  frontend/cypress/fixtures/items/related.json
  frontend/cypress/fixtures/items/single.json
  frontend/cypress/fixtures/items/statistics.json
Due: none

Fix file
  frontend/src/services/utils/weight.unit.ts
Due: none

Add optional image url set
  frontend/src/components/Form/ImageUpload/ImageUpload.tsx
  frontend/src/components/Item/CreateEdit.tsx
Due: none

Path conditions:
  auth-backend: any of: backend/auth
  command-backend: any of: backend/command
  image-backend: any of: backend/image
  query-backend: any of: backend/query
