Repository world-wide-weights/wwweights: changes, and which Codecov flags are due for each by the changed paths.
All: auth-backend, command-backend, image-backend, query-backend, frontend

update: queries
  backend/query/src/items/queries/index.ts
  backend/query/src/items/queries/item-list.handler.ts
  backend/query/src/items/queries/item-list.query.ts
  backend/query/src/items/queries/item-statistics.handler.ts
  backend/query/src/items/queries/item-statistics.query.ts
  backend/query/src/items/queries/related-items.handler.ts
  backend/query/src/items/queries/related-items.query.ts
Due: query-backend

Update images
  frontend/src/assets/images/backgrounds/background_half_page.svg
  frontend/src/assets/images/backgrounds/background_header_index.svg
  frontend/src/assets/images/email/email.png
  frontend/src/assets/images/logo/logo.png
  frontend/src/assets/images/logo/logo.svg
  frontend/src/assets/images/social_logos/discord/logo.svg
  frontend/src/assets/images/social_logos/discord/logo_icon.svg
  frontend/src/assets/images/social_logos/github/logo.png
  frontend/src/assets/images/social_logos/github/logo_icon.svg
  frontend/src/assets/images/social_logos/twitter/logo.svg
  frontend/src/assets/images/social_logos/twitter/logo_icon.svg
  frontend/src/assets/img/logos/discord-logo-black.svg
  frontend/src/assets/img/logos/discord-logo-white.svg
  frontend/src/assets/img/logos/twitter-logo-black.svg
  frontend/src/assets/img/logos/twitter-logo-white.svg
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/Layout/AccountLayout.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/misc/contact.tsx
  frontend/tailwind.config.js
Due: frontend

Fix truncate
  frontend/src/components/Card/Card.tsx
  frontend/src/pages/misc/index.tsx
Due: frontend

Remove all brackets around strings
  frontend/src/components/Chip/chip.cy.tsx
  frontend/src/components/Item/CreateEdit.tsx
  frontend/src/components/ProgressBar/ProgressBar.tsx
  frontend/src/pages/tags/index.tsx
  frontend/src/pages/weights/[slug].tsx
  frontend/src/pages/weights/index.tsx
Due: frontend

add: decorator for generic paginatedResponse
  backend/query/src/shared/decorators/paginated-ok-response.decorator.ts
Due: query-backend

update: items Module
  backend/query/src/items/items.controller.ts
  backend/query/src/items/items.module.ts
  backend/query/src/items/queries/index.ts
  backend/query/src/items/queries/item-related.handler.ts
  backend/query/src/items/queries/item-related.query.ts
  backend/query/src/items/queries/item-statistics.handler.ts
  backend/query/src/models/item.model.ts
Due: query-backend

Fix test Add mock tags list
  frontend/cypress.d.ts
  frontend/cypress/e2e/profile/error.cy.ts
  frontend/cypress/e2e/tags/list.cy.ts
  frontend/cypress/support/commands.ts
Due: frontend

update: Models
  backend/query/src/models/global-statistics.model.ts
  backend/query/src/models/item.model.ts
  backend/query/src/models/profile.model.ts
  backend/query/src/models/tag.model.ts
Due: query-backend

Fix missing mocks
  frontend/cypress/e2e/account/routes.cy.ts
  frontend/cypress/e2e/contribute/create.cy.ts
  frontend/cypress/e2e/contribute/edit.cy.ts
  frontend/cypress/e2e/profile/error.cy.ts
  frontend/cypress/e2e/tags/list.cy.ts
Due: frontend

rename: property exposed as userid coz of query
  backend/query/src/items/dtos/query-item-list.dto.ts
  backend/query/src/items/queries/item-list.handler.ts
Due: query-backend

move: file structure
  backend/query/src/profiles/dtos/query-profile-statistics.dto.ts
  backend/query/src/profiles/interfaces/profile-statistics-response.interface.ts
  backend/query/src/profiles/profiles.controller.ts
  backend/query/src/profiles/queries/profile-statistics.query.ts
  backend/query/src/shared/functions/get-filter.spec.ts
  backend/query/test/items.e2e-spec.ts
Due: query-backend

update: dtos
  backend/query/src/profiles/dtos/query-profile-statistics.dto.ts
Due: query-backend

update: Interfaces
  backend/query/src/profiles/interfaces/profile-statistics-response.interface.ts
  backend/query/test/items.e2e-spec.ts
Due: query-backend

Add mock image
  frontend/cypress.d.ts
  frontend/cypress/e2e/account/login.cy.ts
  frontend/cypress/e2e/account/navbar.cy.ts
  frontend/cypress/e2e/account/register.cy.ts
  frontend/cypress/support/commands.ts
Due: frontend

update: queries
  backend/query/src/items/items.controller.ts
  backend/query/src/profiles/queries/index.ts
  backend/query/src/profiles/queries/profile-statistics.handler.ts
  backend/query/src/profiles/queries/profile-statistics.query.ts
Due: query-backend

update: profile module
  backend/query/src/profiles/profiles.controller.ts
  backend/query/src/profiles/queries/profile-statistics.handler.ts
  backend/query/src/profiles/queries/profile-statistics.query.ts
Due: query-backend

update: decorators and enums
  backend/query/src/shared/decorators/paginated-ok-response.decorator.ts
  backend/query/src/shared/enums/suggestion-status.enum.ts
Due: query-backend

update: functions
  backend/query/src/shared/functions/get-filter.ts
  backend/query/src/shared/functions/get-sort.ts
  backend/query/src/shared/functions/get-stringified.spec.ts
  backend/query/src/shared/functions/get-stringified.ts
  backend/query/src/tags/tags.controller.ts
Due: query-backend

remove: unused files
  backend/query/src/shared/guards/env.guard.ts
  backend/query/src/shared/guards/jwt.guard.ts
  backend/query/src/shared/strategies/jwt.strategy.ts
Due: query-backend

cleanup(command): remove unneeded
  backend/command/src/shared/functions/get-stringified.spec.ts
  backend/command/src/shared/functions/get-stringified.ts
Due: command-backend

update: interfaces
  backend/query/src/items/dtos/query-item-list.dto.ts
  backend/query/src/items/dtos/query-item-related.dto.ts
  backend/query/src/items/dtos/query-item-statistics.dto.ts
  backend/query/src/items/items.controller.ts
  backend/query/src/items/queries/item-list.handler.ts
  backend/query/src/items/queries/item-related.handler.ts
  backend/query/src/shared/decorators/paginated-ok-response.decorator.ts
  backend/query/src/shared/interfaces/data-with-count.interface.ts
  backend/query/src/shared/interfaces/data-with-count.ts
  backend/query/src/shared/interfaces/page.interface.ts
  backend/query/src/shared/interfaces/paginated-result.interface.ts
  backend/query/src/shared/interfaces/query-tags-and-page.interface.ts
  backend/query/src/shared/shared.REST
  backend/query/src/shared/shared.module.ts
  backend/query/src/tags/interfaces/query-tag-list.dto.ts
  backend/query/src/tags/interfaces/query-tag-related.dto.ts
  backend/query/src/tags/queries/related-tags.handler.ts
  backend/query/src/tags/queries/tag-list.handler.ts
  backend/query/src/tags/tags.controller.ts
Due: query-backend

move: dtos enums interfaces
  backend/query/src/tags/dtos/query-tag-list.dto.ts
  backend/query/src/tags/dtos/query-tag-related.dto.ts
  backend/query/src/tags/enums/tag-sort-enum.ts
  backend/query/src/tags/interfaces/tag-with-relevance.interface.ts
  backend/query/src/tags/queries/related-tags.handler.ts
  backend/query/src/tags/queries/tag-list.handler.ts
  backend/query/src/tags/queries/tag-list.query.ts
  backend/query/src/tags/tags.controller.ts
Due: query-backend

update: enums
  backend/query/src/tags/enums/tag-sort-enum.ts
  backend/query/src/tags/queries/related-tags.query.ts
Due: query-backend

fix: imports
  backend/query/src/tags/tags.controller.ts
Due: query-backend

update: interfaces
  backend/query/src/tags/interfaces/tag-with-relevance.interface.ts
Due: query-backend

update: queries
  backend/query/src/tags/queries/index.ts
  backend/query/src/tags/queries/tag-list.handler.ts
  backend/query/src/tags/queries/tag-list.query.ts
  backend/query/src/tags/queries/tag-related.handler.ts
  backend/query/src/tags/queries/tag-related.query.ts
  backend/query/src/tags/tags.controller.ts
Due: query-backend

update: app /tags module
  backend/query/src/app.controller.ts
  backend/query/src/app.module.ts
  backend/query/src/items/items.controller.ts
  backend/query/src/profiles/profiles.controller.ts
  backend/query/src/tags/tags.controller.ts
Due: query-backend

update mocks & helpers
  backend/query/test/helpers/MongoMemoryHelpers.ts
  backend/query/test/mocks/tags.ts
Due: query-backend

Fix cypress included in tests coverage
  frontend/cypress.config.ts
  frontend/package.json
Due: frontend

update: tests
  backend/query/test/app.e2e-spec.ts
  backend/query/test/items.e2e-spec.ts
  backend/query/test/profiles.e2e-spec.ts
  backend/query/test/tags.e2e-spec.ts
Due: query-backend

cleanup(tests): unify tests
  backend/command/src/events/types/events.type.ts
  backend/command/src/eventstore/eventstore.spec.ts
  backend/command/src/eventstore/eventstore.ts
  backend/command/src/eventstore/types/allowed-event-inputs.type.ts
  backend/command/src/shared/functions/get-slug.spec.ts
  backend/command/src/shared/validators/is-bigger-than.spec.ts
  backend/command/test/commands/item-delete-command.e2e-spec.ts
  backend/command/test/commands/item-edit-command.e2e-spec.ts
  backend/command/test/commands/item-insert-command.e2e-spec.ts
Due: command-backend

fix: swagger
  backend/query/src/profiles/interfaces/profile-statistics-response.interface.ts
Due: query-backend

Add prettier
  frontend/.eslintrc.json
  frontend/.prettierignore
  frontend/.prettierrc.json
  frontend/package-lock.json
  frontend/package.json
Due: frontend

add: README.md
  backend/query/README.md
Due: query-backend

Fix missing childs
  frontend/src/components/Modal/modal.cy.tsx
Due: frontend

Rename
  frontend/cypress.d.ts
  frontend/cypress/e2e/weights/emptystate.cy.ts
  frontend/cypress/support/commands.ts
Due: frontend

Update api-key.guard.ts
  backend/auth/src/shared/guards/api-key.guard.ts
Due: auth-backend

Update format
  frontend/src/components/Errors/BaseError.tsx
  frontend/src/pages/_app.tsx
Due: frontend

cleanup(image): fix
  backend/image/jest.json
  backend/image/package-lock.json
  backend/image/package.json
  backend/image/src/main.ts
Due: image-backend

Path conditions:
  auth-backend: any of: backend/auth
  command-backend: any of: backend/command
  image-backend: any of: backend/image
  query-backend: any of: backend/query
  frontend: any of: frontend
