Repository world-wide-weights/wwweights: changes, and which Codecov flags are due for each by the changed paths.
All: auth-backend, command-backend, image-backend, query-backend, frontend

codecov.yml:

# Codecov settings
comment:
  behavior: once
github_checks:
  annotations: false
coverage:
  status:
    patch: off
    project:
      default: off
      auth-backend:
        informational: true
        flags: 
          - auth-backend 
      command-backend:
        informational: true
        flags: 
          - command-backend
      image-backend:
        informational: true
        flags: 
          - image-backend
      query-backend:
        informational: true
        flags: 
          - query-backend
      frontend:
        informational: true
        flags: 
          - frontend
max_report_age: off
flags:
  auth-backend:
    carryforward: true
    paths:
      - backend/auth
  command-backend:
    carryforward: true
    paths:
      - backend/command
  image-backend:
    carryforward: true
    paths:
      - backend/image
  query-backend:
    carryforward: true
    paths:
      - backend/query
  frontend:
    carryforward: true
    paths:
      - frontend

cleanup(image): internal comm
  backend/image/src/internal-communication/dtos/demote-image.dto.ts
  backend/image/src/internal-communication/dtos/promote-image.dto.ts
  backend/image/src/internal-communication/internal-communication.controller.ts
  backend/image/src/internal-communication/internal-communication.service.ts
Due: image-backend

update: packages
  backend/query/package-lock.json
  backend/query/package.json
Due: query-backend

cleanup(image): shared
  backend/image/src/serve/middlewares/serve-file-type.middleware.ts
  backend/image/src/shared/enums/status.enum.ts
  backend/image/src/shared/guards/api-key.guard.ts
  backend/image/src/shared/guards/jwt.guard.ts
  backend/image/src/shared/helpers/file-path.helper.spec.ts
  backend/image/src/shared/helpers/file-path.helpers.ts
  backend/image/src/shared/interfaces/jwt-payload.interface.ts
  backend/image/src/shared/interfaces/request-with-user.interface.ts
  backend/image/src/shared/strategies/jwt.strategy.ts
Due: image-backend

Fix any
  frontend/src/services/auth/register.ts
Due: frontend

Cleanup tests
  frontend/cypress.config.ts
  frontend/cypress/e2e/account/navbar.cy.ts
  frontend/cypress/e2e/account/routes.cy.ts
  frontend/cypress/e2e/contribute/delete.cy.ts
  frontend/cypress/e2e/weights/search.cy.ts
  frontend/cypress/support/commands.ts
Due: frontend

Combine clean and restore of nock
  frontend/cypress.config.ts
  frontend/cypress/support/commands.ts
Due: frontend

cleanup(image): upload module
  backend/image/package.json
  backend/image/src/internal-communication/internal-communication.controller.ts
  backend/image/src/main.ts
  backend/image/src/shared/strategies/jwt.strategy.ts
  backend/image/src/upload/cron/image-cleanup.cron.ts
  backend/image/src/upload/responses/upload-image-conflict.error.ts
  backend/image/src/upload/responses/upload-image.response.ts
  backend/image/src/upload/upload.controller.ts
  backend/image/src/upload/upload.service.spec.ts
  backend/image/src/upload/upload.service.ts
  backend/image/src/upload/validators/file-size.validator.ts
  backend/image/src/upload/validators/file-type.validator.ts
Due: image-backend

cleanup(auth): fix guard
  backend/auth/src/shared/guards/api-key.guard.ts
Due: auth-backend

cleanup(image): cleanup ci
  .github/workflows/image-backend-ci.yml
Due: none

Update fixtures
  frontend/cypress.config.ts
  frontend/cypress/e2e/contribute/edit.cy.ts
  frontend/cypress/e2e/singleWeights/tabs.cy.ts
  frontend/cypress/fixtures/items/list.json
  frontend/cypress/fixtures/items/related.json
  frontend/cypress/fixtures/items/single.json
  frontend/cypress/fixtures/items/statistics.json
  frontend/cypress/fixtures/profile/contributions.json
Due: frontend

Format
  frontend/cypress.config.ts
  frontend/cypress/e2e/account/navbar.cy.ts
  frontend/cypress/e2e/account/routes.cy.ts
  frontend/cypress/e2e/contribute/delete.cy.ts
  frontend/cypress/e2e/contribute/edit.cy.ts
  frontend/cypress/e2e/singleWeights/tabs.cy.ts
  frontend/cypress/e2e/weights/emptystate.cy.ts
  frontend/cypress/e2e/weights/search.cy.ts
  frontend/cypress/support/commands.ts
Due: frontend

fix: unused code and wrong Response in profile
  backend/query/src/profiles/profiles.controller.ts
  backend/query/src/profiles/queries/profile-statistics.handler.ts
  backend/query/test/profiles.e2e-spec.ts
Due: query-backend

add: param for codecov
  backend/query/test/items.e2e-spec.ts
Due: query-backend

cleanup(image): tidy up
  backend/image/.eslintrc.js
  backend/image/README.md
  backend/image/package-lock.json
  backend/image/src/upload/upload.service.spec.ts
  backend/image/src/upload/upload.service.ts
  backend/image/test/upload.e2e-spec.ts
Due: image-backend

Update README.md
  backend/command/README.md
Due: command-backend

fix: add tests for no tags and no related items
  backend/query/test/items.e2e-spec.ts
  backend/query/test/tags.e2e-spec.ts
Due: query-backend

Update README.md
  backend/auth/README.md
Due: auth-backend

cleanup(image): cleanup
  backend/image/README.md
Due: image-backend

cleanup(image): package update
  backend/image/package-lock.json
  backend/image/package.json
Due: image-backend

cleanup(command): cleanup ci
  .github/workflows/command-backend-ci.yml
Due: none

lint
  backend/command/src/commands/item-commands/insert-item.command.ts
  backend/command/src/commands/item-commands/insert-item.handler.ts
  backend/command/src/commands/item-commands/suggest-item-delete.command.ts
  backend/command/src/commands/item-commands/suggest-item-delete.handler.ts
  backend/command/src/commands/item-commands/suggest-item-edit.command.ts
  backend/command/src/cron/cron-handlers/index.ts
  backend/command/src/events/services/image.service.spec.ts
  backend/command/src/events/services/images.service.ts
  backend/command/src/internal-communication/internal-communication.service.ts
  backend/command/src/models/item.model.ts
  backend/command/src/shared/strategies/jwt.strategy.ts
Due: command-backend

add: behaviour unclear but looks like standard
  backend/command/src/controllers/dtos/suggest-item-edit.dto.ts
Due: command-backend

add: istanbul ignores or InternalServerErrors add: error logging in toplevel logs where below it aint logged
  backend/command/src/commands/item-commands/delete-item.handler.ts
  backend/command/src/commands/item-commands/edit-item.handler.ts
  backend/command/src/commands/item-commands/insert-item.handler.ts
  backend/command/src/commands/item-commands/suggest-item-delete.handler.ts
  backend/command/src/commands/item-commands/suggest-item-edit.handler.ts
  backend/command/src/controllers/services/item.service.ts
  backend/command/src/cron/cron-handlers/items.cron.ts
  backend/command/src/events/item-events/item-delete-suggested.handler.ts
  backend/command/src/events/item-events/item-deleted.handler.ts
  backend/command/src/events/item-events/item-edit-suggested.handler.ts
  backend/command/src/events/item-events/item-edited.handler.ts
  backend/command/src/events/item-events/item-inserted.handler.ts
Due: command-backend

add: test for edge case item not in readDB during delete
  backend/command/test/commands/item-delete-command.e2e-spec.ts
Due: command-backend

add: tests for image call
  backend/command/src/events/item-events/item-edited.handler.ts
  backend/command/src/events/services/statistics.service.ts
  backend/command/test/commands/item-edit-command.e2e-spec.ts
  backend/command/test/helpers/retries.ts
Due: command-backend

add: dynamic timeoutSize
  backend/command/test/helpers/retries.ts
Due: command-backend

add: decorator for generic paginatedResponse
  backend/query/src/shared/decorators/paginated-ok-response.decorator.ts
Due: query-backend

move: file structure
  backend/query/src/profiles/dtos/query-profile-statistics.dto.ts
  backend/query/src/profiles/interfaces/profile-statistics-response.interface.ts
  backend/query/src/profiles/profiles.controller.ts
  backend/query/src/profiles/queries/profile-statistics.query.ts
  backend/query/src/shared/functions/get-filter.spec.ts
  backend/query/test/items.e2e-spec.ts
Due: query-backend

update: interfaces
  backend/query/src/items/interfaces/item-statistics.interface.ts
Due: query-backend

update: queries
  backend/query/src/tags/queries/index.ts
  backend/query/src/tags/queries/tag-list.handler.ts
  backend/query/src/tags/queries/tag-list.query.ts
  backend/query/src/tags/queries/tag-related.handler.ts
  backend/query/src/tags/queries/tag-related.query.ts
  backend/query/src/tags/tags.controller.ts
Due: query-backend

rename: property exposed as userid coz of query
  backend/query/src/items/dtos/query-item-list.dto.ts
  backend/query/src/items/queries/item-list.handler.ts
Due: query-backend

move: separate dtos enums and interfaces
  backend/query/src/items/dtos/query-item-list.dto.ts
  backend/query/src/items/dtos/query-item-related.dto.ts
  backend/query/src/items/dtos/query-item-statistics.dto.ts
  backend/query/src/items/enums/item-sort-enum.ts
  backend/query/src/items/interfaces/item-statistics.interface.ts
  backend/query/src/items/items.controller.ts
  backend/query/src/items/queries/item-list.query.ts
  backend/query/src/items/queries/item-statistics.handler.ts
  backend/query/src/items/queries/related-items.handler.ts
  backend/query/src/shared/functions/get-sort.spec.ts
  backend/query/src/shared/functions/get-sort.ts
  backend/query/src/tags/queries/related-tags.handler.ts
  backend/query/test/items.e2e-spec.ts
Due: query-backend

update: functions
  backend/query/src/shared/functions/get-filter.ts
  backend/query/src/shared/functions/get-sort.ts
  backend/query/src/shared/functions/get-stringified.spec.ts
  backend/query/src/shared/functions/get-stringified.ts
  backend/query/src/tags/tags.controller.ts
Due: query-backend

add: README.md
  backend/query/README.md
Due: query-backend

fix: imports
  backend/query/src/tags/tags.controller.ts
Due: query-backend

update: DTOs
  backend/query/src/items/dtos/query-item-list.dto.ts
  backend/query/src/items/dtos/query-item-related.dto.ts
  backend/query/src/items/dtos/query-item-statistics.dto.ts
  backend/query/src/items/items.controller.ts
  backend/query/src/items/queries/item-statistics.query.ts
  backend/query/src/items/queries/related-items.query.ts
Due: query-backend

update mocks & helpers
  backend/query/test/helpers/MongoMemoryHelpers.ts
  backend/query/test/mocks/tags.ts
Due: query-backend

update: queries
  backend/query/src/items/queries/index.ts
  backend/query/src/items/queries/item-list.handler.ts
  backend/query/src/items/queries/item-list.query.ts
  backend/query/src/items/queries/item-statistics.handler.ts
  backend/query/src/items/queries/item-statistics.query.ts
  backend/query/src/items/queries/related-items.handler.ts
  backend/query/src/items/queries/related-items.query.ts
Due: query-backend

update: enums
  backend/query/src/tags/enums/tag-sort-enum.ts
  backend/query/src/tags/queries/related-tags.query.ts
Due: query-backend
