Repository world-wide-weights/wwweights: changes, and which Codecov flags are due for each by the changed paths.
All: auth-backend, command-backend, image-backend, query-backend, frontend

codecov.yml:

# Codecov settings
comment:
  behavior: once
github_checks:
  annotations: false
coverage:
  status:
    patch: off
    project:
      default: off
      auth-backend:
        informational: true
        flags: 
          - auth-backend 
      command-backend:
        informational: true
        flags: 
          - command-backend
      image-backend:
        informational: true
        flags: 
          - image-backend
      query-backend:
        informational: true
        flags: 
          - query-backend
      frontend:
        informational: true
        flags: 
          - frontend
max_report_age: off
flags:
  auth-backend:
    carryforward: true
    paths:
      - backend/auth
  command-backend:
    carryforward: true
    paths:
      - backend/command
  image-backend:
    carryforward: true
    paths:
      - backend/image
  query-backend:
    carryforward: true
    paths:
      - backend/query
  frontend:
    carryforward: true
    paths:
      - frontend

fix: jest
  backend/auth/jest.json
Due: auth-backend

devops(ci): loosen trigger rules
  .github/workflows/auth-backend-ci.yml
  .github/workflows/command-backend-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/image-backend-ci.yml
  .github/workflows/query-backend-ci.yml
Due: none

feat(cropping): update cropping
  backend/image/src/upload/upload.service.ts
Due: image-backend

add: test for edit command stream not existing
  backend/command/test/commands/item-edit-command.e2e-spec.ts
Due: command-backend

add: test for item delete on missing stream
  backend/command/test/commands/item-delete-command.e2e-spec.ts
Due: command-backend

submission(prep): update readmes
  README.md
  backend/README.md
  scripts/README.md
Due: none

add: tests for not adding events on missing stream
  backend/command/test/commands/item-delete-command.e2e-spec.ts
  backend/command/test/commands/item-edit-command.e2e-spec.ts
Due: command-backend

Add AUTH_SERVER to handle stats
  .github/workflows/frontend-ci.yml
  docker-compose.yaml
  frontend/.env.example
  frontend/Dockerfile
  frontend/cypress.config.ts
  frontend/cypress/e2e/account/login.cy.ts
  frontend/cypress/e2e/account/register.cy.ts
  frontend/cypress/e2e/profile/error.cy.ts
  frontend/cypress/support/commands.ts
  frontend/env.d.ts
  frontend/src/pages/account/profile.tsx
  frontend/src/pages/index.tsx
  frontend/src/services/auth/login.ts
  frontend/src/services/auth/register.ts
  frontend/src/services/auth/session.ts
  frontend/src/services/axios/axios.ts
  sample.env
Due: frontend

fix(docker): env
  docker-compose.yaml
  sample.env
Due: none

add: test for dto in suggestions
  backend/command/src/models/edit-suggestion.model.ts
  backend/command/test/commands/item-edit-command.e2e-spec.ts
  backend/command/test/commands/item-insert-command.e2e-spec.ts
Due: command-backend

submission(prep): fix user insert
  db/setup/02-users.sql
Due: none

add: test for bulkInsertDto
  backend/command/src/controllers/controllers/items.controller.ts
  backend/command/test/commands/item-insert-command.e2e-spec.ts
Due: command-backend

Fix query client on edit
  frontend/src/pages/contribute/edit/[slug].tsx
Due: frontend

Update image url
  frontend/src/services/item/image.ts
Due: frontend

Add IMAGE_SERVER url
  .github/workflows/frontend-ci.yml
  docker-compose.yaml
  frontend/.env.example
  frontend/Dockerfile
  frontend/cypress.config.ts
  frontend/cypress/support/commands.ts
  frontend/env.d.ts
  frontend/src/services/axios/axios.ts
  frontend/src/services/utils/getImageUrl.ts
  frontend/src/services/utils/getImageUrl.unit.ts
  sample.env
Due: frontend

submission(prep): add sample data
  .gitignore
  backend/README.md
  backend/docker-images/b52f8e94839c10eb46e274f32a41bb6b39910f93c7c268da602052e3940a51c4.jpeg
  backend/docker-images/b940fc33e9146ce97cee23b3790321eeb29c77043eb59221a5c7da60f3b74443.jpeg
  backend/docker-images/ca21e2d697682fae2ea8908dd1f64149957729cc4a106a7f558fe67cf7577e80.jpeg
  db/setup/03-lookup.sql
  scripts/data/sample.json
Due: none

ref: test to cover more lines
  backend/command/src/internal-communication/internal-communication.service.ts
  backend/command/test/commands/item-edit-command.e2e-spec.ts
Due: command-backend

Update limit of 1MB upload to 2MB
  frontend/src/components/Form/ImageUpload/ImageUpload.tsx
Due: frontend

Change getUrl to server
  frontend/src/services/utils/getImageUrl.ts
  frontend/src/services/utils/getImageUrl.unit.ts
Due: frontend

ref: ignore strategies due to mocks
  backend/command/jest.json
  backend/command/src/shared/strategies/jwt.strategy.ts
Due: command-backend

fix(query): coverage
  backend/query/jest.json
Due: query-backend

rename: files in auth
  backend/auth/test/account.e2e-spec.ts
  backend/auth/test/auth.e2e-spec.ts
  backend/auth/test/helpers/config-service.helper.ts
  backend/auth/test/helpers/typeorm-setup.ts
  backend/auth/test/profiles.e2e-spec.ts
Due: auth-backend

ref: rename file
  backend/command/test/commands/item-delete-command.e2e-spec.ts
  backend/command/test/commands/item-edit-command.e2e-spec.ts
  backend/command/test/commands/item-insert-command.e2e-spec.ts
  backend/command/test/cron.e2e-spec.ts
  backend/command/test/helpers/mongo-memory-helper.ts
  backend/query/test/app.e2e-spec.ts
  backend/query/test/helpers/mongo-memory-helper.ts
  backend/query/test/items.e2e-spec.ts
  backend/query/test/profiles.e2e-spec.ts
  backend/query/test/tags.e2e-spec.ts
Due: command-backend, query-backend

update: work in progress switch person
  backend/command/jest.json
  backend/command/src/eventstore/eventstore.spec.ts
  backend/command/src/eventstore/eventstore.ts
  backend/command/test/helpers/config-service.helper.ts
Due: command-backend

feat(tests): add eventstore tests
  backend/command/jest.json
  backend/command/src/eventstore/eventstore.spec.ts
  backend/command/src/eventstore/eventstore.ts
  backend/command/test/helpers/config-service.helper.ts
  backend/command/test/mocks/eventstore-connection.ts
Due: command-backend

Add Logo to README.md
  README.md
Due: none

lint & remove any
  backend/command/src/events/item-events/item-edited.handler.ts
  backend/command/test/commands/item-edit-command.e2e-spec.ts
  backend/command/test/helpers/config-service.helper.ts
  backend/command/test/mocks/eventstore-connection.ts
Due: command-backend

feat(fix validation): fix validation
  backend/command/src/commands/item-commands/suggest-item-edit.handler.ts
  backend/command/src/controllers/dtos/suggest-item-edit.dto.ts
  backend/command/src/events/item-events/item-edited.handler.ts
  backend/command/test/commands/item-edit-command.e2e-spec.ts
Due: command-backend
