Repository world-wide-weights/wwweights: changes, and which Codecov flags are due for each by the changed paths.
All: auth-backend, command-backend, image-backend, query-backend

Add Profile type
  frontend/src/types/auth.d.ts
Due: none

Remove not required Boolean parse
  frontend/src/components/Navbar/Navbar.tsx
Due: none

Add AuthContext type
  frontend/src/components/Auth/Auth.tsx
Due: none

Rename variable
  frontend/cypress/support/commands.ts
Due: none

Update command
  frontend/cypress/support/commands.ts
Due: none

Removed unused hook
  frontend/src/hooks/useIsRouterChanging.ts
Due: none

feat(backup): update readme
  scripts/README.md
Due: none

Add comment
  frontend/src/pages/account/profile.tsx
Due: none

Remove session
  frontend/src/pages/contribute/create.tsx
Due: none

feat(empty): update response
  backend/query/src/profiles/queries/profile-statistics.handler.ts
  backend/query/test/profiles.e2e-spec.ts
Due: query-backend

Update profile
  frontend/src/pages/account/profile.tsx
Due: none

feat(empt return): fixes
  backend/query/package.json
  backend/query/src/profiles/queries/profile-statistics.handler.ts
Due: query-backend

fix(names): test command name
  backend/command/package.json
Due: command-backend

Update comment
  frontend/src/components/Header/SearchHeader.tsx
Due: none

Fix bug at /tags page
  frontend/src/pages/tags/index.tsx
Due: none

Add tests to prove bug is gone
  frontend/cypress.d.ts
  frontend/cypress/e2e/tags/list.cy.ts
  frontend/cypress/fixtures/tags/list.json
  frontend/cypress/support/commands.ts
Due: none

Update stats
  frontend/src/pages/account/profile.tsx
Due: none

feat(query): update query
  backend/command/src/items/services/item.service.ts
  backend/query/src/items/models/item.model.ts
  backend/query/src/shared/functions/get-filter.spec.ts
  backend/query/src/shared/functions/get-filter.ts
  backend/query/test/mocks/items.ts
  backend/query/test/profiles.e2e-spec.ts
Due: command-backend, query-backend

Update backend/query/src/shared/functions/get-filter.ts
  backend/query/src/shared/functions/get-filter.ts
Due: query-backend

Delete itemsByTags
  backend/command/src/items/cron/items.cron.ts
  backend/command/src/items/events/item-edit-suggested.handler.ts
  backend/command/src/items/events/item-inserted.handler.ts
  backend/command/src/items/items.module.ts
  backend/command/src/items/services/item.service.ts
  backend/command/src/models/items-by-tag.model.ts
  backend/command/test/items.e2e-spec.ts
  backend/query/src/items/queries/item-list.handler.ts
  backend/query/src/items/queries/item-statistics.handler.ts
  backend/query/test/mocks/itemsbytags.ts
Due: command-backend, query-backend

Add timeout for pipeline
  backend/command/test/items.e2e-spec.ts
Due: command-backend

Add await coz I am stupid
  backend/command/test/items.e2e-spec.ts
Due: command-backend

Fix profile error
  frontend/src/pages/account/profile.tsx
  frontend/src/types/profile.d.ts
Due: none

Update comment Remove enter
  frontend/src/components/Header/SearchHeader.tsx
  frontend/src/services/axios/axios.ts
Due: none

Update Modal API Update comments for Modal
  frontend/src/components/Modal/Modal.tsx
  frontend/src/components/Modal/modal.cy.tsx
Due: none

Fix missing query in SearchHeader
  frontend/src/components/Header/SearchHeader.tsx
Due: none

Add auth to session
  frontend/src/pages/contribute/create.tsx
Due: none

Fix bug with validation of yup
  frontend/src/pages/contribute/create.tsx
Due: none

Fix when displaying just one item
  frontend/src/pages/weights/[slug].tsx
Due: none

replace timeout with retryCallback
  backend/command/test/items.e2e-spec.ts
Due: command-backend

Ref code Add loading state to create Add comments
  frontend/src/pages/contribute/create.tsx
Due: none

Fix bug with tooltip text
  frontend/src/components/Tooltip/Tooltip.tsx
Due: none

Fix typo in create
  frontend/src/pages/contribute/create.tsx
Due: none

Remove all but 2 timeouts
  backend/command/test/eventstore.e2e-spec.ts
  backend/command/test/helpers/retries.ts
  backend/command/test/helpers/timeout.ts
  backend/command/test/items.e2e-spec.ts
  backend/query/test/helpers/timeout.ts
  backend/query/test/items.e2e-spec.ts
  backend/query/test/tags.e2e-spec.ts
Due: command-backend, query-backend

Add customSelectionButton component tests
  frontend/src/components/Form/CustomSelectionButton/customSelectionButton.cy.tsx
Due: none

Ref structure Fix typo
  frontend/src/components/Form/CustomSelectionButton/customSelectionButton.cy.tsx
Due: none

Fix bug in tests because of changes in SearcHeader
  frontend/cypress/support/commands.ts
Due: none

Add skeleton loading for profile
  frontend/src/components/Loading/SkeletonLoadingProfile.tsx
  frontend/src/pages/account/profile.tsx
Due: none

Rename folder
  frontend/cypress/e2e/account/login.cy.ts
  frontend/cypress/e2e/account/navbar.cy.ts
  frontend/cypress/e2e/account/profile.cy.ts
  frontend/cypress/e2e/account/register.cy.ts
  frontend/cypress/e2e/account/routes.cy.ts
Due: none

Add profile mock
  frontend/cypress.d.ts
  frontend/cypress/e2e/account/routes.cy.ts
  frontend/cypress/fixtures/profile/contributions.json
  frontend/cypress/fixtures/profile/me.json
  frontend/cypress/fixtures/profile/statistics.json
  frontend/cypress/support/commands.ts
Due: none

Path conditions:
  auth-backend: any of: backend/auth
  command-backend: any of: backend/command
  image-backend: any of: backend/image
  query-backend: any of: backend/query
