Repository world-wide-weights/wwweights: changes, and which Codecov flags are due for each by the changed paths.
All: auth-backend, command-backend, image-backend, query-backend, frontend

codecov.yml:

# Codecov settings
comment:
  behavior: once
github_checks:
  annotations: false
coverage:
  status:
    patch: off
    project:
      default: off
      auth-backend:
        informational: true
        flags: 
          - auth-backend 
      command-backend:
        informational: true
        flags: 
          - command-backend
      image-backend:
        informational: true
        flags: 
          - image-backend
      query-backend:
        informational: true
        flags: 
          - query-backend
      frontend:
        informational: true
        flags: 
          - frontend
max_report_age: off
flags:
  auth-backend:
    carryforward: true
    paths:
      - backend/auth
  command-backend:
    carryforward: true
    paths:
      - backend/command
  image-backend:
    carryforward: true
    paths:
      - backend/image
  query-backend:
    carryforward: true
    paths:
      - backend/query
  frontend:
    carryforward: true
    paths:
      - frontend

update: Interfaces
  backend/query/src/profiles/interfaces/profile-statistics-response.interface.ts
  backend/query/test/items.e2e-spec.ts
Due: query-backend

fix: spelling of file
  backend/query/package.json
Due: query-backend

update: profile module
  backend/query/src/profiles/profiles.controller.ts
  backend/query/src/profiles/queries/profile-statistics.handler.ts
  backend/query/src/profiles/queries/profile-statistics.query.ts
Due: query-backend

fix: add tests for no tags and no related items
  backend/query/test/items.e2e-spec.ts
  backend/query/test/tags.e2e-spec.ts
Due: query-backend

move: dtos enums interfaces
  backend/query/src/tags/dtos/query-tag-list.dto.ts
  backend/query/src/tags/dtos/query-tag-related.dto.ts
  backend/query/src/tags/enums/tag-sort-enum.ts
  backend/query/src/tags/interfaces/tag-with-relevance.interface.ts
  backend/query/src/tags/queries/related-tags.handler.ts
  backend/query/src/tags/queries/tag-list.handler.ts
  backend/query/src/tags/queries/tag-list.query.ts
  backend/query/src/tags/tags.controller.ts
Due: query-backend

fix: unused code and wrong Response in profile
  backend/query/src/profiles/profiles.controller.ts
  backend/query/src/profiles/queries/profile-statistics.handler.ts
  backend/query/test/profiles.e2e-spec.ts
Due: query-backend

update: tests
  backend/query/test/app.e2e-spec.ts
  backend/query/test/items.e2e-spec.ts
  backend/query/test/profiles.e2e-spec.ts
  backend/query/test/tags.e2e-spec.ts
Due: query-backend

fix: swagger
  backend/query/src/profiles/interfaces/profile-statistics-response.interface.ts
Due: query-backend

update: items Module
  backend/query/src/items/items.controller.ts
  backend/query/src/items/items.module.ts
  backend/query/src/items/queries/index.ts
  backend/query/src/items/queries/item-related.handler.ts
  backend/query/src/items/queries/item-related.query.ts
  backend/query/src/items/queries/item-statistics.handler.ts
  backend/query/src/models/item.model.ts
Due: query-backend

update: Models
  backend/query/src/models/global-statistics.model.ts
  backend/query/src/models/item.model.ts
  backend/query/src/models/profile.model.ts
  backend/query/src/models/tag.model.ts
Due: query-backend

update: app /tags module
  backend/query/src/app.controller.ts
  backend/query/src/app.module.ts
  backend/query/src/items/items.controller.ts
  backend/query/src/profiles/profiles.controller.ts
  backend/query/src/tags/tags.controller.ts
Due: query-backend

update: dtos
  backend/query/src/profiles/dtos/query-profile-statistics.dto.ts
Due: query-backend

update: interfaces
  backend/query/src/tags/interfaces/tag-with-relevance.interface.ts
Due: query-backend

update: interfaces
  backend/query/src/items/dtos/query-item-list.dto.ts
  backend/query/src/items/dtos/query-item-related.dto.ts
  backend/query/src/items/dtos/query-item-statistics.dto.ts
  backend/query/src/items/items.controller.ts
  backend/query/src/items/queries/item-list.handler.ts
  backend/query/src/items/queries/item-related.handler.ts
  backend/query/src/shared/decorators/paginated-ok-response.decorator.ts
  backend/query/src/shared/interfaces/data-with-count.interface.ts
  backend/query/src/shared/interfaces/data-with-count.ts
  backend/query/src/shared/interfaces/page.interface.ts
  backend/query/src/shared/interfaces/paginated-result.interface.ts
  backend/query/src/shared/interfaces/query-tags-and-page.interface.ts
  backend/query/src/shared/shared.REST
  backend/query/src/shared/shared.module.ts
  backend/query/src/tags/interfaces/query-tag-list.dto.ts
  backend/query/src/tags/interfaces/query-tag-related.dto.ts
  backend/query/src/tags/queries/related-tags.handler.ts
  backend/query/src/tags/queries/tag-list.handler.ts
  backend/query/src/tags/tags.controller.ts
Due: query-backend

update: queries
  backend/query/src/items/items.controller.ts
  backend/query/src/profiles/queries/index.ts
  backend/query/src/profiles/queries/profile-statistics.handler.ts
  backend/query/src/profiles/queries/profile-statistics.query.ts
Due: query-backend

update: enums
  backend/query/src/items/enums/item-sort-enum.ts
Due: query-backend

add: param for codecov
  backend/query/test/items.e2e-spec.ts
Due: query-backend

remove: unused files
  backend/query/src/shared/guards/env.guard.ts
  backend/query/src/shared/guards/jwt.guard.ts
  backend/query/src/shared/strategies/jwt.strategy.ts
Due: query-backend

update: decorators and enums
  backend/query/src/shared/decorators/paginated-ok-response.decorator.ts
  backend/query/src/shared/enums/suggestion-status.enum.ts
Due: query-backend

add: html coverage reported
  backend/query/jest.json
Due: query-backend

lint: modify files wth wrong linter associated
  backend/auth/src/auth/interfaces/refresh-jwt-payload.interface.ts
Due: auth-backend

Update api-key.guard.ts
  backend/auth/src/shared/guards/api-key.guard.ts
Due: auth-backend

cleanup(auth): fix tests & update packages
  backend/auth/package-lock.json
  backend/auth/package.json
  backend/auth/sample.env
  backend/auth/src/shared/guards/api-key.guard.ts
  backend/auth/test/account.e2e-spec.ts
  backend/auth/test/auth.e2e-spec.ts
  backend/auth/test/helpers/configService.helper.ts
  backend/auth/test/profiles.e2e-spec.ts
Due: auth-backend

Fix description/summary in controllers
  backend/auth/src/account/account.controller.ts
  backend/auth/src/auth/auth.controller.ts
  backend/auth/src/profile/profile.controller.ts
Due: auth-backend

cleanup(db): sync to auth backend
  db/migrations/1670610831-init/UP.sql
  db/setup/init.sql
Due: none

cleanup(devops): cleanup auth devops
  .github/workflows/auth-backend-ci.yml
  docker-compose.yaml
  sample.env
Due: none

cleanup(cov): add html reporter
  backend/auth/jest.json
Due: auth-backend

edit enum in entity
  backend/auth/src/db/entities/users.entity.ts
Due: auth-backend

cleanup(auth): fix guard
  backend/auth/src/shared/guards/api-key.guard.ts
Due: auth-backend

lint: files with changes
  backend/auth/.eslintrc.js
  backend/auth/jest.json
  backend/auth/src/account/account.controller.ts
  backend/auth/src/account/dtos/add-image.dto.ts
  backend/auth/src/auth/auth.controller.ts
  backend/auth/src/auth/dtos/login.dto.ts
  backend/auth/src/auth/responses/auth-statistics.response.ts
  backend/auth/src/db/services/user.service.ts
  backend/auth/src/main.ts
  backend/auth/src/profile/profile.controller.ts
  backend/auth/src/profile/profile.module.ts
  backend/auth/src/shared/guards/api-key.guard.ts
  backend/auth/test/account.e2e-spec.ts
  backend/auth/test/helpers/sample-data.helper.ts
Due: auth-backend

Update README.md
  backend/auth/README.md
Due: auth-backend

cleanup(image): fix
  backend/image/jest.json
  backend/image/package-lock.json
  backend/image/package.json
  backend/image/src/main.ts
Due: image-backend

cleanup(image): tidy up
  backend/image/.eslintrc.js
  backend/image/README.md
  backend/image/package-lock.json
  backend/image/src/upload/upload.service.spec.ts
  backend/image/src/upload/upload.service.ts
  backend/image/test/upload.e2e-spec.ts
Due: image-backend

cleanup(image): cleanup ci
  .github/workflows/image-backend-ci.yml
Due: none

cleanup(image): upload module
  backend/image/package.json
  backend/image/src/internal-communication/internal-communication.controller.ts
  backend/image/src/main.ts
  backend/image/src/shared/strategies/jwt.strategy.ts
  backend/image/src/upload/cron/image-cleanup.cron.ts
  backend/image/src/upload/responses/upload-image-conflict.error.ts
  backend/image/src/upload/responses/upload-image.response.ts
  backend/image/src/upload/upload.controller.ts
  backend/image/src/upload/upload.service.spec.ts
  backend/image/src/upload/upload.service.ts
  backend/image/src/upload/validators/file-size.validator.ts
  backend/image/src/upload/validators/file-type.validator.ts
Due: image-backend

cleanup(image): shared
  backend/image/src/serve/middlewares/serve-file-type.middleware.ts
  backend/image/src/shared/enums/status.enum.ts
  backend/image/src/shared/guards/api-key.guard.ts
  backend/image/src/shared/guards/jwt.guard.ts
  backend/image/src/shared/helpers/file-path.helper.spec.ts
  backend/image/src/shared/helpers/file-path.helpers.ts
  backend/image/src/shared/interfaces/jwt-payload.interface.ts
  backend/image/src/shared/interfaces/request-with-user.interface.ts
  backend/image/src/shared/strategies/jwt.strategy.ts
Due: image-backend

cleanup(image): internal comm
  backend/image/src/internal-communication/dtos/demote-image.dto.ts
  backend/image/src/internal-communication/dtos/promote-image.dto.ts
  backend/image/src/internal-communication/internal-communication.controller.ts
  backend/image/src/internal-communication/internal-communication.service.ts
Due: image-backend

cleanup(image): cleanup
  backend/image/README.md
Due: image-backend

cleanup(image): package update
  backend/image/package-lock.json
  backend/image/package.json
Due: image-backend
