Repository world-wide-weights/wwweights: changes, and which Codecov flags are due for each by the changed paths.
All: auth-backend, command-backend, image-backend, query-backend

codecov.yml:

# Codecov settings
comment:
  behavior: once
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      auth-backend:
        informational: true
        flags: 
          - auth-backend 
      command-backend:
        informational: true
        flags: 
          - command-backend
      image-backend:
        informational: true
        flags: 
          - image-backend
      query-backend:
        informational: true
        flags: 
          - query-backend

flags:
  auth-backend:
    paths:
      - backend/auth
  command-backend:
    paths:
      - backend/command
  image-backend:
    paths:
      - backend/image
  query-backend:
    paths:
      - backend/query

Fix description/summary in controllers
  backend/auth/src/account/account.controller.ts
  backend/auth/src/auth/auth.controller.ts
  backend/auth/src/profile/profile.controller.ts
Due: auth-backend

edit enum in entity
  backend/auth/src/db/entities/users.entity.ts
Due: auth-backend

Add generator for strings
  frontend/src/services/utils/generateSourceString.ts
  frontend/src/services/utils/generateSourceString.unit.ts
Due: none

Add ItemSource component
  frontend/src/components/Item/ItemSource.tsx
Due: none

Add ItemSource to singleWeight
  frontend/src/pages/weights/[slug].tsx
Due: none

Fix test
  frontend/src/components/Item/itemListContribute.cy.tsx
Due: none

Update delete reasons
  frontend/src/pages/account/profile.tsx
Due: none

Fix li list
  frontend/src/components/Footer/Footer.tsx
Due: none

Add lang to document
  frontend/src/pages/_document.tsx
Due: none

Update datacy
  frontend/cypress/e2e/contribute/delete.cy.ts
Due: none

lint: files with changes
  backend/auth/.eslintrc.js
  backend/auth/jest.json
  backend/auth/src/account/account.controller.ts
  backend/auth/src/account/dtos/add-image.dto.ts
  backend/auth/src/auth/auth.controller.ts
  backend/auth/src/auth/dtos/login.dto.ts
  backend/auth/src/auth/responses/auth-statistics.response.ts
  backend/auth/src/db/services/user.service.ts
  backend/auth/src/main.ts
  backend/auth/src/profile/profile.controller.ts
  backend/auth/src/profile/profile.module.ts
  backend/auth/src/shared/guards/api-key.guard.ts
  backend/auth/test/account.e2e-spec.ts
  backend/auth/test/helpers/sample-data.helper.ts
Due: auth-backend

lint: modify files wth wrong linter associated
  backend/auth/src/auth/interfaces/refresh-jwt-payload.interface.ts
Due: auth-backend

Rename user to Contributers
  frontend/src/pages/index.tsx
Due: none

Update all world to be world's
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/Seo/Seo.tsx
  frontend/src/pages/index.tsx
Due: none

Fix bug with wrong redirect url
  frontend/src/components/Auth/Auth.tsx
Due: none

Rename
  frontend/src/pages/misc/index.tsx
Due: none

Update schema type
  frontend/src/pages/account/profile.tsx
Due: none

Solve merge conflict
  backend/command/package-lock.json
  backend/command/src/events/item-events/item-deleted.handler.ts
  backend/command/src/events/item-events/item-inserted.handler.ts
Due: command-backend

linting
  backend/command/test/commands/item-insert-command.e2e-spec.ts
Due: command-backend

fix test
  backend/command/test/commands/item-insert-command.e2e-spec.ts
Due: command-backend

Fix error messages
  frontend/src/pages/account/register.tsx
Due: none

Update UX writing
  frontend/src/pages/account/register.tsx
Due: none

cleanup(tests): do smart fix
  backend/command/jest.json
  backend/command/src/events/item-events/item-deleted.handler.ts
  backend/command/test/commands/item-delete-command.e2e-spec.ts
  backend/command/test/commands/item-insert-command.e2e-spec.ts
  backend/command/test/helpers/MongoMemoryHelpers.ts
  backend/command/test/mocks/items-cron.mock.ts
  backend/command/test/mocks/items.ts
Due: command-backend

lint
  backend/command/src/commands/item-commands/insert-item.command.ts
  backend/command/src/commands/item-commands/suggest-item-delete.command.ts
  backend/command/src/commands/item-commands/suggest-item-edit.command.ts
  backend/command/src/cron/cron-handlers/index.ts
  backend/command/src/events/services/image.service.spec.ts
  backend/command/src/events/services/images.service.ts
  backend/command/src/events/services/index.ts
  backend/command/src/internal-communication/internal-communication.service.ts
  backend/command/src/models/profile.model.ts
  backend/command/test/commands/item-delete-command.e2e-spec.ts
  backend/command/test/commands/item-edit-command.e2e-spec.ts
  backend/command/test/commands/item-insert-command.e2e-spec.ts
  backend/command/test/cron.e2e-spec.ts
  backend/command/test/helpers/MongoMemoryHelpers.ts
  backend/command/test/mocks/eventstore.ts
  backend/command/test/mocks/items-cron.mock.ts
Due: command-backend

Add toastify
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/_app.tsx
Due: none

Update codecov.yml
  codecov.yml
Due: none

devops(codecov): add carry forward
  codecov.yml
Due: none

Add field errors to register
  frontend/src/pages/account/register.tsx
Due: none

Add request
  frontend/src/pages/index.tsx
Due: none

Add statistics mock
  frontend/cypress/fixtures/statistics/statistics.json
  frontend/cypress/support/commands.ts
Due: none

fix: bug that returns null if suggestion is null
  backend/query/src/models/global-statistics.model.ts
Due: query-backend

add: test
  backend/query/test/app.e2e-spec.ts
Due: query-backend

cleanup(command backend): cleanup commands
  backend/command/src/commands/item-commands/delete-item.command.ts
  backend/command/src/commands/item-commands/delete-item.handler.ts
  backend/command/src/commands/item-commands/edit-item.command.ts
  backend/command/src/commands/item-commands/edit-item.handler.ts
  backend/command/src/commands/item-commands/index.ts
  backend/command/src/commands/item-commands/insert-item.command.ts
  backend/command/src/commands/item-commands/insert-item.handler.ts
  backend/command/src/commands/item-commands/suggest-item-delete.command.ts
  backend/command/src/commands/item-commands/suggest-item-delete.handler.ts
  backend/command/src/commands/item-commands/suggest-item-edit.command.ts
  backend/command/src/commands/item-commands/suggest-item-edit.handler.ts
  backend/command/src/controllers/controllers/items.controller.ts
  backend/command/src/controllers/dtos/bulk-insert-item.dto.ts
  backend/command/src/controllers/dtos/insert-item.dto.ts
  backend/command/src/controllers/dtos/suggest-item-delete.dto.ts
  backend/command/src/controllers/dtos/suggest-item-edit.dto.ts
  backend/command/src/controllers/interfaces/jwt-payload.interface.ts
  backend/command/src/controllers/interfaces/request-with-user.dto.ts
  backend/command/src/controllers/interfaces/request-with-user.interface.ts
  backend/command/src/controllers/services/item.service.ts
  backend/command/src/cron/cron-handlers/index.ts
  backend/command/src/cron/cron-handlers/items.cron.ts
  backend/command/test/mocks/items.ts
Due: command-backend

Remove all routes dependency from test
  frontend/cypress/e2e/singleWeights/tabs.cy.ts
  frontend/cypress/e2e/weights/emptystate.cy.ts
  frontend/cypress/e2e/weights/pagination.cy.ts
  frontend/cypress/e2e/weights/search.cy.ts
  frontend/cypress/e2e/weights/sort.cy.ts
  frontend/cypress/e2e/weights/viewtype.cy.ts
Due: none

Update all functions to be arrow functions
  frontend/src/components/Form/ImageUpload/ImageUpload.tsx
  frontend/src/services/breadcrumb/breadcrumb.ts
  frontend/src/services/utils/capitalizeString.ts
  frontend/src/services/utils/jwt.ts
Due: none

cleanup(command backend): finish event handlers
  backend/command/src/commands/item-commands/suggest-item-edit.command.ts
  backend/command/src/events/item-events/index.ts
  backend/command/src/events/item-events/item-delete-suggested.event.ts
  backend/command/src/events/item-events/item-delete-suggested.handler.ts
  backend/command/src/events/item-events/item-deleted.event.ts
  backend/command/src/events/item-events/item-deleted.handler.ts
  backend/command/src/events/item-events/item-edit-suggested.event.ts
  backend/command/src/events/item-events/item-edit-suggested.handler.ts
  backend/command/src/events/item-events/item-edited.event.ts
  backend/command/src/events/item-events/item-edited.handler.ts
  backend/command/src/events/item-events/item-inserted.event.ts
  backend/command/src/events/item-events/item-inserted.handler.ts
  backend/command/test/commands/item-edit-command.e2e-spec.ts
Due: command-backend
