Repository world-wide-weights/wwweights: changes, and which Codecov flags are due for each by the changed paths.
All: auth-backend, command-backend, image-backend, query-backend

Update login form
  frontend/next.config.js
  frontend/package-lock.json
  frontend/src/pages/account/login.tsx
  frontend/src/types/next-auth.d.ts
Due: none

Fix bug with undefind in JSON
  frontend/src/pages/api/auth/[...nextauth].ts
Due: none

feat(bulk): add service
  backend/command/src/items/items.controller.ts
  backend/command/src/items/items.module.ts
  backend/command/src/items/services/item.service.ts
  backend/command/test/items.e2e-spec.ts
Due: command-backend

Add empty state and pagination
  frontend/src/components/EmptyState/BaseEmptyState.tsx
  frontend/src/components/EmptyState/ContributionsEmptyState.tsx
  frontend/src/components/EmptyState/SearchEmptyState.tsx
  frontend/src/pages/account/profile.tsx
Due: none

feat(edit): add null tests
  backend/command/test/items.e2e-spec.ts
Due: command-backend

feat(bulk insert): fix swagger
  backend/command/src/items/items.controller.ts
Due: command-backend

feat(bulk insert): fix image values
  scripts/data/sample.json
Due: none

feat(arm build): update auth pipeline
  .github/workflows/auth-backend-ci.yml
Due: none

Update auth-backend-ci.yml
  .github/workflows/auth-backend-ci.yml
Due: none

Add login
  frontend/src/pages/account/login.tsx
  frontend/src/services/auth/login.ts
  frontend/src/types/auth.d.ts
Due: none

Add loading state to login
  frontend/src/pages/account/login.tsx
Due: none

Update redirect to page
  frontend/src/pages/account/login.tsx
Due: none

feat(arm build): update all pipelines
  .github/workflows/auth-backend-ci.yml
  .github/workflows/command-backend-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/image-backend-ci.yml
  .github/workflows/query-backend-ci.yml
Due: none

feat(arm builds): fix image problems
  .github/workflows/image-backend-ci.yml
Due: none

Add register auth
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/pages/account/register.tsx
  frontend/src/services/auth/register.ts
Due: none

feat(token): update endpoint
  backend/auth/src/auth/auth.controller.ts
  backend/auth/src/auth/auth.service.ts
  backend/auth/test/auth.e2e-spec.ts
Due: auth-backend

Add basic sessions
  frontend/src/services/auth/login.ts
  frontend/src/services/auth/session.ts
  frontend/src/services/auth/storage.ts
  frontend/src/types/auth.d.ts
Due: none

Add logout
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/services/auth/session.ts
  frontend/src/services/auth/storage.ts
Due: none

Merge storage into session
  frontend/src/services/auth/login.ts
  frontend/src/services/auth/session.ts
  frontend/src/services/auth/storage.ts
Due: none

Update nav to fix flickering
  frontend/src/components/Navbar/Navbar.tsx
Due: none

feat(createdat): update backend
  backend/auth/src/db/entities/users.entity.ts
  backend/auth/src/db/services/user.service.ts
  backend/auth/src/profile/profile.controller.ts
  backend/auth/test/auth.e2e-spec.ts
  backend/auth/test/helpers/sample-data.helper.ts
  backend/auth/test/profiles.e2e-spec.ts
Due: auth-backend

feat(createdAt): add migration
  db/migrations/1676217913-add-created-at/DOWN.sql
  db/migrations/1676217913-add-created-at/UP.sql
  db/migrations/1676217913-add-created-at/changelog.md
  db/setup/init.sql
Due: none

Update command-backend-ci.yml
  .github/workflows/command-backend-ci.yml
Due: none

Add auth protection
  frontend/src/components/Auth/Auth.tsx
Due: none

Update default
  frontend/src/components/Auth/Auth.tsx
Due: none

Add refresh tokens and session
  frontend/src/components/Auth/Auth.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/pages/account/profile.tsx
  frontend/src/services/auth/session.ts
Due: none

feat(edit): fix edge case
  backend/command/src/items/events/item-edit-suggested.handler.ts
  backend/command/test/items.e2e-spec.ts
Due: command-backend

Update backend/command/test/items.e2e-spec.ts
  backend/command/test/items.e2e-spec.ts
Due: command-backend

feat(edit): fix tests
  backend/command/test/items.e2e-spec.ts
Due: command-backend

Remove next-auth Fix bugs Update navbar Refactor Layout
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Auth/Auth.tsx
  frontend/src/components/Layout/AccountLayout.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/account/login.tsx
  frontend/src/pages/account/register.tsx
  frontend/src/pages/api/auth/[...nextauth].ts
  frontend/src/pages/index.tsx
  frontend/src/pages/misc/contact.tsx
  frontend/src/pages/misc/index.tsx
  frontend/src/pages/misc/privacy-policy.tsx
  frontend/src/pages/misc/terms-and-conditions.tsx
Due: none

Moved session into Auth provider Add logic if token refresh fails that user get logged out
  frontend/src/components/Auth/Auth.tsx
  frontend/src/pages/account/profile.tsx
  frontend/src/services/auth/session.ts
Due: none

Update tests
  frontend/cypress.d.ts
  frontend/cypress/e2e/authentication/login.cy.ts
  frontend/cypress/e2e/authentication/register.cy.ts
  frontend/cypress/e2e/authentication/routes.cy.ts
  frontend/cypress/fixtures/authentication/login.json
  frontend/cypress/fixtures/authentication/session.json
  frontend/cypress/support/commands.ts
  frontend/src/components/Auth/Auth.tsx
Due: none

Update frontend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

Update backend/auth/test/profiles.e2e-spec.ts
  backend/auth/test/profiles.e2e-spec.ts
Due: auth-backend

fix(tests): fix tests
  backend/command/src/items/items.controller.ts
Due: command-backend

Fix bug with card not widht 100
  frontend/src/pages/weights/index.tsx
Due: none

Fix pagination
  frontend/src/components/Pagination/Pagination.tsx
Due: none

Add comments
  frontend/src/services/auth/login.ts
  frontend/src/services/auth/register.ts
  frontend/src/services/auth/session.ts
Due: none

fix(docker): fix build context
  .github/workflows/command-backend-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/image-backend-ci.yml
  .github/workflows/query-backend-ci.yml
Due: none

Update backend/command/src/items/items.controller.ts
  backend/command/src/items/items.controller.ts
Due: command-backend

Path conditions:
  auth-backend: any of: backend/auth
  command-backend: any of: backend/command
  image-backend: any of: backend/image
  query-backend: any of: backend/query
