Repository world-wide-weights/wwweights: changes, and which Codecov flags are due for each by the changed paths.
All: auth-backend, command-backend, image-backend, query-backend

Rename Add commands
  frontend/cypress.d.ts
  frontend/cypress/e2e/singleWeights/tabs.cy.ts
  frontend/cypress/fixtures/items/single.json
  frontend/cypress/support/commands.ts
Due: none

feat(image transaction): cleanuo
  backend/command/src/internal-communication/internal-communication.service.ts
  backend/command/src/items/events/item-deleted.handler.ts
  backend/command/src/items/services/image.service.spec.ts
  backend/command/src/items/services/images.service.ts
  backend/command/test/mocks/http-service.mock.ts
  backend/image/src/upload/upload.service.ts
  docker-compose.yaml
  sample.env
Due: command-backend, image-backend

Update fixtures
  frontend/cypress/fixtures/auth/sessiondata.json
  frontend/cypress/fixtures/auth/tokens.json
  frontend/cypress/fixtures/items/single.json
Due: none

fix tetss
  backend/command/test/items.e2e-spec.ts
Due: command-backend

Add edit tests
  frontend/cypress/e2e/contribute/create.cy.ts
  frontend/cypress/e2e/contribute/edit.cy.ts
  frontend/cypress/fixtures/items/single.json
  frontend/src/components/Item/CreateEdit.tsx
Due: none

Update readme
  frontend/README.md
Due: none

Add image to README
  frontend/README.md
Due: none

Remove old import
  frontend/src/pages/_app.tsx
Due: none

Add comment and update README
  frontend/README.md
  frontend/cypress.config.ts
Due: none

Fix names of datacys
  frontend/cypress/e2e/contribute/create.cy.ts
  frontend/cypress/e2e/contribute/edit.cy.ts
  frontend/src/components/Item/CreateEdit.tsx
Due: none

Add delete request
  frontend/src/pages/account/profile.tsx
Due: none

feat(image transaction): small fixes
  backend/command/src/internal-communication/internal-communication.service.ts
  backend/command/test/items.e2e-spec.ts
  backend/command/test/mocks/eventstore.ts
  backend/image/src/internal-communication/dtos/demote-image.dto.ts
Due: command-backend, image-backend

feat(transactions): fix loophole
  backend/command/src/items/events/item-edit-suggested.handler.ts
  backend/command/src/items/events/item-edited.handler.ts
Due: command-backend

Update backend/command/src/items/services/image.service.spec.ts
  backend/command/src/items/services/image.service.spec.ts
Due: command-backend

Update backend/image/src/internal-communication/internal-communication.controller.ts
  backend/image/src/internal-communication/internal-communication.controller.ts
Due: image-backend

Update backend/image/src/upload/cron/image-cleanup.cron.spec.ts
  backend/image/src/upload/cron/image-cleanup.cron.spec.ts
Due: image-backend

Update types
  frontend/src/types/item.d.ts
Due: none

Add delete tests skeleton
  frontend/cypress/e2e/contribute/delete.cy.ts
Due: none

Update comment
  frontend/cypress/e2e/contribute/edit.cy.ts
Due: none

feat(image transactions): update
  backend/command/src/items/services/image.service.spec.ts
  backend/command/src/items/services/images.service.ts
  backend/command/test/items.e2e-spec.ts
  backend/command/test/mocks/http-service.mock.ts
Due: command-backend

Ref paginated response
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/Header/SearchHeader.tsx
  frontend/src/pages/account/profile.tsx
  frontend/src/pages/contribute/edit/[slug].tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/tags/index.tsx
  frontend/src/pages/weights/[slug].tsx
  frontend/src/pages/weights/index.tsx
  frontend/src/types/item.d.ts
  frontend/src/types/paginated.d.ts
Due: none

Ref some findings
  frontend/src/components/Form/ImageUpload/ImageUpload.tsx
Due: none

Add missing type
  frontend/src/services/utils/weight.unit.ts
Due: none

Update type for create logic
  frontend/src/services/item/create.ts
Due: none

Update tests
  frontend/cypress/e2e/contribute/delete.cy.ts
  frontend/cypress/fixtures/profile/contributions.json
  frontend/src/pages/account/profile.tsx
Due: none

Update tests
  frontend/src/services/item/edit.unit.ts
Due: none

Update codecov.yml
  codecov.yml
Due: none

Ref statement
  frontend/src/components/Item/CreateEdit.tsx
Due: none

Update edit tests
  frontend/src/services/item/edit.ts
  frontend/src/services/item/edit.unit.ts
Due: none

Update edit unit test names
  frontend/src/services/item/edit.unit.ts
Due: none

Update edit page
  frontend/src/pages/contribute/edit/[slug].tsx
Due: none

Path conditions:
  auth-backend: any of: backend/auth
  command-backend: any of: backend/command
  image-backend: any of: backend/image
  query-backend: any of: backend/query
