Repository world-wide-weights/wwweights: changes, and which Codecov flags are due for each by the changed paths.
All: auth-backend, command-backend, image-backend, query-backend, frontend

codecov.yml:

# Codecov settings
comment:
  behavior: once
github_checks:
  annotations: false
coverage:
  status:
    patch: off
    project:
      default: off
      auth-backend:
        informational: true
        flags: 
          - auth-backend 
      command-backend:
        informational: true
        flags: 
          - command-backend
      image-backend:
        informational: true
        flags: 
          - image-backend
      query-backend:
        informational: true
        flags: 
          - query-backend
      frontend:
        informational: true
        flags: 
          - frontend
max_report_age: off
flags:
  auth-backend:
    carryforward: true
    paths:
      - backend/auth
  command-backend:
    carryforward: true
    paths:
      - backend/command
  image-backend:
    carryforward: true
    paths:
      - backend/image
  query-backend:
    carryforward: true
    paths:
      - backend/query
  frontend:
    carryforward: true
    paths:
      - frontend

Fix formating of empty state
  frontend/src/components/EmptyState/ContributionsEmptyState.tsx
Due: frontend

Update profile errors
  frontend/cypress.d.ts
  frontend/cypress/e2e/profile/error.cy.ts
  frontend/cypress/support/commands.ts
Due: frontend

Add error handling tests
  frontend/cypress/e2e/account/login.cy.ts
  frontend/cypress/e2e/account/routes.cy.ts
  frontend/cypress/e2e/contribute/create.cy.ts
  frontend/src/components/Form/ImageUpload/imageUpload.cy.tsx
Due: frontend

Add login and register tests
  frontend/cypress/e2e/account/login.cy.ts
  frontend/cypress/e2e/account/register.cy.ts
Due: frontend

Update tags mock Add emptystate test Update emptystate
  frontend/cypress.d.ts
  frontend/cypress/e2e/tags/list.cy.ts
  frontend/cypress/support/commands.ts
  frontend/src/components/EmptyState/TagsEmptyState.tsx
  frontend/src/pages/tags/index.tsx
Due: frontend

Cleanup loading
  frontend/src/pages/weights/index.tsx
Due: frontend

Add error handling
  frontend/src/components/Item/CreateEdit.tsx
  frontend/src/pages/account/profile.tsx
  frontend/src/pages/contribute/edit/[slug].tsx
  frontend/src/pages/index.tsx
  frontend/src/services/utils/errorHandling.ts
Due: frontend

Update styling of toast
  frontend/src/pages/_app.tsx
Due: frontend

Add comment
  frontend/src/services/utils/errorHandling.ts
Due: frontend

Remove concurrently
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Remove todo
  frontend/src/services/routes/routes.unit.ts
Due: frontend

Fix tests
  frontend/cypress/e2e/account/login.cy.ts
  frontend/cypress/e2e/weights/search.cy.ts
Due: frontend

remove: console.log
  backend/command/src/events/item-events/item-edited.handler.ts
Due: command-backend

Update type file names
  frontend/src/types/auth.ts
  frontend/src/types/color.ts
  frontend/src/types/image.ts
  frontend/src/types/item.ts
  frontend/src/types/nav.ts
  frontend/src/types/options.ts
  frontend/src/types/pagination.ts
  frontend/src/types/profile.ts
  frontend/src/types/tag.ts
  frontend/src/types/unit.ts
Due: frontend

Ref comment
  frontend/src/pages/misc/contact.tsx
Due: frontend

Update text on register
  frontend/src/pages/account/register.tsx
Due: frontend

Update slug
  frontend/src/components/Headline/Headline.tsx
  frontend/src/pages/weights/[slug].tsx
Due: frontend

Update packages (can't migrate to mongodb 5.0 due to mongoose and memory server)
  backend/command/package-lock.json
  backend/command/package.json
Due: command-backend

Fix bugs
  frontend/src/components/Card/Card.tsx
  frontend/src/components/Item/ItemListContribute.tsx
  frontend/src/components/Item/ItemPreviewGrid.tsx
  frontend/src/components/Item/ItemPreviewList.tsx
  frontend/src/pages/weights/[slug].tsx
Due: frontend

Fix all image warnings
  frontend/src/components/Item/ItemPreviewGrid.tsx
  frontend/src/pages/weights/[slug].tsx
Due: frontend

Add html export to coverage
  backend/command/jest.json
Due: command-backend

lint
  backend/command/src/commands/item-commands/suggest-item-edit.handler.ts
Due: command-backend

Remove not used code
  backend/command/src/controllers/dtos/suggest-item-edit.dto.ts
  backend/command/src/models/global-statistics.model.ts
Due: command-backend

Update to break words
  frontend/src/components/Item/ItemPreviewGrid.tsx
Due: frontend

cleanup(auth): fix tests & update packages
  backend/auth/package-lock.json
  backend/auth/package.json
  backend/auth/sample.env
  backend/auth/src/shared/guards/api-key.guard.ts
  backend/auth/test/account.e2e-spec.ts
  backend/auth/test/auth.e2e-spec.ts
  backend/auth/test/helpers/configService.helper.ts
  backend/auth/test/profiles.e2e-spec.ts
Due: auth-backend

Add overhead to test to have it "tested"
  backend/command/test/commands/item-edit-command.e2e-spec.ts
Due: command-backend

cleanup(devops): cleanup auth devops
  .github/workflows/auth-backend-ci.yml
  docker-compose.yaml
  sample.env
Due: none

cleanup(cov): add html reporter
  backend/auth/jest.json
Due: auth-backend

add: html coverage reported
  backend/query/jest.json
Due: query-backend

move: separate dtos enums and interfaces
  backend/query/src/items/dtos/query-item-list.dto.ts
  backend/query/src/items/dtos/query-item-related.dto.ts
  backend/query/src/items/dtos/query-item-statistics.dto.ts
  backend/query/src/items/enums/item-sort-enum.ts
  backend/query/src/items/interfaces/item-statistics.interface.ts
  backend/query/src/items/items.controller.ts
  backend/query/src/items/queries/item-list.query.ts
  backend/query/src/items/queries/item-statistics.handler.ts
  backend/query/src/items/queries/related-items.handler.ts
  backend/query/src/shared/functions/get-sort.spec.ts
  backend/query/src/shared/functions/get-sort.ts
  backend/query/src/tags/queries/related-tags.handler.ts
  backend/query/test/items.e2e-spec.ts
Due: query-backend

cleanup(db): sync to auth backend
  db/migrations/1670610831-init/UP.sql
  db/setup/init.sql
Due: none

Add username break words
  frontend/src/pages/account/profile.tsx
Due: frontend

Remove bug comment
  frontend/src/services/pagination/pagination.unit.ts
Due: frontend

Update comment
  frontend/src/services/utils/weight.unit.ts
Due: frontend

Fix issue
  frontend/src/types/pagination.ts
Due: frontend

update: DTOs
  backend/query/src/items/dtos/query-item-list.dto.ts
  backend/query/src/items/dtos/query-item-related.dto.ts
  backend/query/src/items/dtos/query-item-statistics.dto.ts
  backend/query/src/items/items.controller.ts
  backend/query/src/items/queries/item-statistics.query.ts
  backend/query/src/items/queries/related-items.query.ts
Due: query-backend

update: enums
  backend/query/src/items/enums/item-sort-enum.ts
Due: query-backend

update: interfaces
  backend/query/src/items/interfaces/item-statistics.interface.ts
Due: query-backend

fix: spelling of file
  backend/query/package.json
Due: query-backend

Remove fonts
  frontend/src/assets/font/metropolis/Metropolis-Black.woff2
  frontend/src/assets/font/metropolis/Metropolis-BlackItalic.woff2
  frontend/src/assets/font/metropolis/Metropolis-Bold.woff2
  frontend/src/assets/font/metropolis/Metropolis-BoldItalic.woff2
  frontend/src/assets/font/metropolis/Metropolis-ExtraBold.woff2
  frontend/src/assets/font/metropolis/Metropolis-ExtraBoldItalic.woff2
  frontend/src/assets/font/metropolis/Metropolis-ExtraLight.woff2
  frontend/src/assets/font/metropolis/Metropolis-ExtraLightItalic.woff2
  frontend/src/assets/font/metropolis/Metropolis-Light.woff2
  frontend/src/assets/font/metropolis/Metropolis-LightItalic.woff2
  frontend/src/assets/font/metropolis/Metropolis-Medium.woff2
  frontend/src/assets/font/metropolis/Metropolis-MediumItalic.woff2
  frontend/src/assets/font/metropolis/Metropolis-Regular.woff2
  frontend/src/assets/font/metropolis/Metropolis-RegularItalic.woff2
  frontend/src/assets/font/metropolis/Metropolis-SemiBold.woff2
  frontend/src/assets/font/metropolis/Metropolis-SemiBoldItalic.woff2
  frontend/src/assets/font/metropolis/Metropolis-Thin.woff2
  frontend/src/assets/font/metropolis/Metropolis-ThinItalic.woff2
  frontend/src/assets/font/montserrat/Montserrat-Black.ttf
  frontend/src/assets/font/montserrat/Montserrat-BlackItalic.ttf
  frontend/src/assets/font/montserrat/Montserrat-Bold.ttf
  frontend/src/assets/font/montserrat/Montserrat-BoldItalic.ttf
  frontend/src/assets/font/montserrat/Montserrat-ExtraBold.ttf
  frontend/src/assets/font/montserrat/Montserrat-ExtraBoldItalic.ttf
  frontend/src/assets/font/montserrat/Montserrat-ExtraLight.ttf
  frontend/src/assets/font/montserrat/Montserrat-ExtraLightItalic.ttf
  frontend/src/assets/font/montserrat/Montserrat-Italic.ttf
  frontend/src/assets/font/montserrat/Montserrat-Light.ttf
  frontend/src/assets/font/montserrat/Montserrat-LightItalic.ttf
  frontend/src/assets/font/montserrat/Montserrat-Medium.ttf
  frontend/src/assets/font/montserrat/Montserrat-MediumItalic.ttf
  frontend/src/assets/font/montserrat/Montserrat-Regular.ttf
  frontend/src/assets/font/montserrat/Montserrat-SemiBold.ttf
  frontend/src/assets/font/montserrat/Montserrat-SemiBoldItalic.ttf
  frontend/src/assets/font/montserrat/Montserrat-Thin.ttf
  frontend/src/assets/font/montserrat/Montserrat-ThinItalic.ttf
Due: frontend
