Repository world-wide-weights/wwweights: changes, and which Codecov flags are due for each by the changed paths.
All: auth-backend, command-backend, image-backend, query-backend

codecov.yml:

# Codecov settings
comment:
  behavior: once
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      auth-backend:
        informational: true
        flags: 
          - auth-backend 
      command-backend:
        informational: true
        flags: 
          - command-backend
      image-backend:
        informational: true
        flags: 
          - image-backend
      query-backend:
        informational: true
        flags: 
          - query-backend

flags:
  auth-backend:
    paths:
      - backend/auth
  command-backend:
    paths:
      - backend/command
  image-backend:
    paths:
      - backend/image
  query-backend:
    paths:
      - backend/query

Cleanup packages
  frontend/package-lock.json
  frontend/package.json
Due: none

feat(codecov): add frontend upload
  .github/workflows/frontend-ci.yml
Due: none

Add back babel plugin
  frontend/package-lock.json
  frontend/package.json
Due: none

Update README.md
  README.md
Due: none

Remove wrong comment
  frontend/src/pages/_app.tsx
Due: none

Update fonts
  frontend/public/fonts/Metropolis-Bold.woff2
  frontend/public/fonts/Metropolis-Medium.woff2
  frontend/public/fonts/Metropolis-Regular.woff2
  frontend/src/pages/_app.tsx
  frontend/src/styles/global.css
Due: none

Fix is ca
  frontend/src/components/Item/CreateEdit.tsx
  frontend/src/types/item.d.ts
Due: none

Remove next font
  frontend/package-lock.json
  frontend/package.json
Due: none

Update backend/command/src/items/events/item-edited.handler.ts
  backend/command/src/items/events/item-edited.handler.ts
Due: command-backend

fix(edit): fix dto
  backend/command/src/items/interfaces/insert-item.dto.ts
  backend/command/src/items/interfaces/suggest-item-edit.dto.ts
Due: command-backend

Update frontend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

Fix type of item
  frontend/src/types/item.d.ts
Due: none

Update tags DTO
  frontend/src/components/Item/CreateEdit.tsx
Due: none

Fix inital not set
  frontend/src/components/Item/CreateEdit.tsx
Due: none

Update edit tags
  frontend/src/components/Item/CreateEdit.tsx
Due: none

Update edit item
  frontend/src/components/Item/CreateEdit.tsx
  frontend/src/types/item.d.ts
Due: none

Add GlobalStatisticsModel to db
  backend/query/src/app.controller.ts
  backend/query/src/app.module.ts
  backend/query/src/models/edit-suggestion.model.ts
  backend/query/src/models/global-statistics.model.ts
  backend/query/src/models/item.model.ts
Due: query-backend

Fix cypress in tests
  frontend/cypress.config.ts
Due: none

Add globalStatistics model to command Backend
  backend/command/src/models/global-statistics.model.ts
Due: command-backend

Add image remove/edit
  frontend/src/components/Item/CreateEdit.tsx
  frontend/src/types/item.d.ts
Due: none

Fix tests
  frontend/cypress/e2e/contribute/create.cy.ts
Due: none

Ref meta
  frontend/src/components/Item/CreateEdit.tsx
  frontend/src/pages/contribute/create.tsx
  frontend/src/pages/contribute/edit/[slug].tsx
Due: none

feat(image transaction): setup
  backend/command/package-lock.json
  backend/command/package.json
  backend/command/sample.env
  backend/command/src/internal-communication/internal-communication.module.ts
  backend/command/src/internal-communication/internal-communication.service.ts
  backend/image/sample.env
  backend/image/src/internal-communication/dtos/promote-image.dto.ts
  backend/image/src/internal-communication/dtos/remove-image.dto.ts
  backend/image/src/internal-communication/internal-communication.controller.ts
  backend/image/src/shared/guards/api-key.guard.ts
  backend/image/src/upload/upload.module.ts
  backend/image/src/upload/upload.service.ts
Due: command-backend, image-backend

Update edit
  frontend/src/pages/contribute/edit/[slug].tsx
Due: none

Update loading
  frontend/src/pages/contribute/edit/[slug].tsx
Due: none

feat(image transaction): add api calls
  backend/command/src/items/commands/insert-item.handler.ts
  backend/command/src/items/events/item-deleted.handler.ts
  backend/command/src/items/events/item-inserted.handler.ts
  backend/command/src/items/items.module.ts
  backend/command/src/shared/functions/is-url.spec.ts
  backend/command/src/shared/functions/is-url.ts
Due: command-backend

feat(image transaction): update image backend
  backend/command/src/internal-communication/internal-communication.service.ts
  backend/image/.gitignore
  backend/image/src/internal-communication/dtos/demote-image.dto.ts
  backend/image/src/internal-communication/dtos/remove-image.dto.ts
  backend/image/src/internal-communication/internal-communication.controller.ts
  backend/image/src/upload/upload.service.ts
  backend/image/test/upload.e2e-spec.ts
Due: command-backend, image-backend

feat(image transactions): finish img backend
  backend/image/package-lock.json
  backend/image/package.json
  backend/image/src/internal-communication/internal-communication.controller.ts
  backend/image/src/internal-communication/internal-communication.module.ts
  backend/image/src/upload/cron/image-cleanup.cron.spec.ts
  backend/image/src/upload/cron/image-cleanup.cron.ts
  backend/image/src/upload/upload.service.ts
  backend/image/test/internal-communication.e2e-spec.ts
Due: image-backend

Add skeleton loading for edit
  frontend/src/components/Loading/SkeletonLoadingEdit.tsx
  frontend/src/pages/contribute/edit/[slug].tsx
Due: none

feat(img transactions): rework triggers
  backend/command/src/items/events/item-deleted.handler.ts
  backend/command/src/items/events/item-edited.handler.ts
  backend/command/src/items/events/item-inserted.handler.ts
  backend/command/src/items/services/images.service.ts
Due: command-backend

Update order
  frontend/src/pages/contribute/edit/[slug].tsx
Due: none

Fix wrong dependency
  frontend/src/pages/contribute/edit/[slug].tsx
Due: none

Cleanup edit and create Rename all update to edit
  frontend/src/components/Item/CreateEdit.tsx
  frontend/src/services/item/create.ts
  frontend/src/services/item/edit.ts
  frontend/src/services/item/update.ts
  frontend/src/types/item.d.ts
Due: none

Add create tests
  frontend/src/services/item/create.ts
  frontend/src/services/item/create.unit.ts
Due: none

Rename data
  frontend/src/services/item/create.unit.ts
Due: none

Add edit tests
  frontend/src/services/item/edit.ts
  frontend/src/services/item/edit.unit.ts
  frontend/src/types/item.d.ts
Due: none

feat(image transaction): update command backend
  backend/command/src/internal-communication/internal-communication.service.ts
  backend/command/src/items/events/item-deleted.handler.ts
  backend/command/src/items/events/item-edited.handler.ts
  backend/command/src/items/events/item-inserted.handler.ts
  backend/command/src/items/items.module.ts
  backend/command/src/items/services/image.service.spec.ts
  backend/command/src/items/services/images.service.ts
  backend/command/test/items.e2e-spec.ts
  backend/command/test/mocks/eventstore.ts
  backend/command/test/mocks/http-service.mock.ts
  backend/image/.gitignore
Due: command-backend, image-backend

Rename to mockSingleWeightPage
  frontend/cypress.d.ts
  frontend/cypress/support/commands.ts
Due: none
