Repository world-wide-weights/wwweights: changes, and which Codecov flags are due for each by the changed paths.
All: auth-backend, command-backend, image-backend, query-backend, frontend

Update types Add comments
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/Header/SearchHeader.tsx
  frontend/src/components/Statistics/CompareCard.tsx
  frontend/src/hooks/usePagination.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/account/profile.tsx
  frontend/src/pages/contribute/edit/[slug].tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/tags/index.tsx
  frontend/src/pages/weights/[slug].tsx
  frontend/src/pages/weights/index.tsx
  frontend/src/services/pagination/pagination.ts
  frontend/src/services/pagination/pagination.unit.ts
  frontend/src/services/routes/routes.ts
  frontend/src/services/routes/routes.unit.ts
  frontend/src/types/paginated.d.ts
  frontend/src/types/pagination.d.ts
Due: frontend

cleanup(command backend): fix error handling
  backend/command/src/commands/item-commands/delete-item.handler.ts
  backend/command/src/commands/item-commands/edit-item.handler.ts
  backend/command/src/commands/item-commands/insert-item.handler.ts
  backend/command/src/commands/item-commands/suggest-item-delete.handler.ts
  backend/command/src/commands/item-commands/suggest-item-edit.handler.ts
Due: command-backend

Cleanup types
  frontend/src/pages/account/profile.tsx
  frontend/src/types/item.d.ts
  frontend/src/types/profile.d.ts
Due: frontend

Update validation
  frontend/src/pages/account/register.tsx
Due: frontend

Remove todos
  frontend/cypress.config.ts
  frontend/src/components/Card/Card.tsx
  frontend/src/components/Header/SearchHeader.tsx
  frontend/src/components/Statistics/CompareCard.tsx
  frontend/src/pages/weights/index.tsx
  frontend/src/services/unit/unitConverter.ts
Due: frontend

Add comments
  frontend/cypress.config.ts
  frontend/src/components/Form/Dropdown/dropdown.cy.tsx
  frontend/src/services/utils/getImageUrl.ts
Due: frontend

Update method parameters work with objects
  frontend/cypress.d.ts
  frontend/cypress/e2e/account/routes.cy.ts
  frontend/cypress/e2e/contribute/create.cy.ts
  frontend/cypress/e2e/contribute/delete.cy.ts
  frontend/cypress/e2e/contribute/edit.cy.ts
  frontend/cypress/e2e/profile/basics.cy.ts
  frontend/cypress/e2e/profile/emptystate.cy.ts
  frontend/cypress/e2e/profile/error.cy.ts
  frontend/cypress/e2e/profile/pagination.cy.ts
  frontend/cypress/e2e/weights/emptystate.cy.ts
  frontend/cypress/e2e/weights/pagination.cy.ts
  frontend/cypress/support/commands.ts
Due: frontend

Update text
  frontend/src/pages/account/login.tsx
  frontend/src/pages/account/register.tsx
Due: frontend

cleanup(command backend): cleanup
  backend/command/src/events/item-events/item-delete-suggested.handler.ts
  backend/command/src/events/item-events/item-deleted.handler.ts
  backend/command/src/events/item-events/item-edit-suggested.handler.ts
  backend/command/src/events/item-events/item-edited.handler.ts
  backend/command/src/events/item-events/item-inserted.handler.ts
  backend/command/src/events/services/global-statistics.service.ts
  backend/command/src/events/services/image.service.spec.ts
  backend/command/src/events/services/images.service.ts
  backend/command/src/events/services/index.ts
  backend/command/src/eventstore/dtos/deleted-item-event.dto.ts
  backend/command/src/eventstore/dtos/edited-item-event.dto.ts
  backend/command/src/eventstore/eventstore.ts
  backend/command/src/internal-communication/internal-communication.service.ts
  backend/command/src/models/delete-suggestion.model.ts
  backend/command/src/models/edit-suggestion.model.ts
  backend/command/src/models/global-statistics.model.ts
  backend/command/src/models/item.model.ts
  backend/command/src/models/profile.model.ts
  backend/command/src/models/tag.model.ts
  backend/image/test/internal-communication.e2e-spec.ts
Due: command-backend, image-backend

cleanup(command backend): finish src
  backend/command/src/sagas/item-sagas/index.ts
  backend/command/src/sagas/item-sagas/suggestions.saga.ts
  backend/command/src/shared/enums/suggestion-status.enum.ts
  backend/command/src/shared/functions/get-stringified.ts
  backend/command/src/shared/functions/is-url.ts
  backend/command/src/shared/guards/env.guard.ts
  backend/command/src/shared/guards/jwt.guard.ts
  backend/command/src/shared/strategies/jwt.strategy.ts
  backend/command/src/shared/validators/is-bigger-than.ts
Due: command-backend

Add handle long items
  frontend/src/components/Card/Card.tsx
  frontend/src/components/Item/CreateEdit.tsx
  frontend/src/components/Item/ItemListContribute.tsx
  frontend/src/components/Item/ItemPreviewGrid.tsx
  frontend/src/components/Item/ItemPreviewList.tsx
  frontend/src/pages/weights/[slug].tsx
  frontend/src/pages/weights/index.tsx
Due: frontend

Update PR findings
  frontend/cypress/fixtures/auth/register.json
  frontend/cypress/fixtures/auth/session.json
  frontend/src/pages/index.tsx
Due: frontend

cleanup(command): finish cleanup
  backend/command/src/eventstore/eventstore.spec.ts
  backend/command/test/commands/item-delete-command.e2e-spec.ts
  backend/command/test/commands/item-edit-command.e2e-spec.ts
  backend/command/test/commands/item-insert-command.e2e-spec.ts
  backend/command/test/cron.e2e-spec.ts
  backend/command/test/helpers/MongoMemoryHelpers.ts
  backend/command/test/helpers/retries.ts
  backend/command/test/mocks/env-guard.mock.ts
  backend/command/test/mocks/eventstore-connection.ts
  backend/command/test/mocks/eventstore.ts
  backend/command/test/mocks/http-service.mock.ts
  backend/command/test/mocks/items-cron.mock.ts
  backend/command/test/mocks/jwt-guard.mock.ts
Due: command-backend

cleanup(command): update readme
  backend/command/README.md
Due: command-backend

Add error handling to login
  frontend/src/pages/account/login.tsx
Due: frontend

Add error handling to editor of weights
  frontend/src/components/Item/CreateEdit.tsx
  frontend/src/pages/account/register.tsx
Due: frontend

Update error handling
  frontend/src/pages/account/register.tsx
Due: frontend

Add error handling to footer
  frontend/src/components/Footer/Footer.tsx
Due: frontend

cleanup(command): remove any
  backend/command/src/events/types/events.type.ts
  backend/command/src/eventstore/eventstore.ts
  backend/command/src/eventstore/types/allowed-dtos.type.ts
  backend/command/src/sagas/item-sagas/suggestions.saga.ts
Due: command-backend

Add error handling search header
  frontend/src/components/Header/SearchHeader.tsx
Due: frontend

Update fixtures
  frontend/cypress/e2e/contribute/edit.cy.ts
  frontend/cypress/e2e/profile/error.cy.ts
  frontend/cypress/fixtures/items/list.json
  frontend/cypress/fixtures/items/related.json
  frontend/cypress/fixtures/items/single.json
  frontend/cypress/fixtures/items/statistics.json
  frontend/cypress/fixtures/profile/contributions.json
Due: frontend

cleanup(command): types
  backend/command/src/events/types/events.type.ts
  backend/command/src/eventstore/eventstore.spec.ts
  backend/command/src/eventstore/eventstore.ts
  backend/command/src/eventstore/types/allowed-dtos.type.ts
  backend/command/src/sagas/item-sagas/suggestions.saga.ts
Due: command-backend

Add profile increment logic to relevant handlers
  backend/command/src/commands/item-commands/delete-item.command.ts
  backend/command/src/commands/item-commands/delete-item.handler.ts
  backend/command/src/commands/item-commands/edit-item.command.ts
  backend/command/src/commands/item-commands/edit-item.handler.ts
  backend/command/src/events/item-events/item-delete-suggested.handler.ts
  backend/command/src/events/item-events/item-deleted.handler.ts
  backend/command/src/events/item-events/item-edit-suggested.handler.ts
  backend/command/src/events/item-events/item-edited.handler.ts
  backend/command/src/events/item-events/item-inserted.handler.ts
  backend/command/src/events/services/index.ts
  backend/command/src/events/services/statistics.service.ts
  backend/command/src/eventstore/dtos/deleted-item-event.dto.ts
  backend/command/src/eventstore/dtos/edited-item-event.dto.ts
  backend/command/src/sagas/item-sagas/suggestions.saga.ts
Due: command-backend

Add mock homepage command
  frontend/cypress.d.ts
Due: frontend

Add form errors to ImageUpload
  frontend/src/components/Form/ImageUpload/ImageUpload.tsx
Due: frontend

Add toast to Auth provider
  frontend/src/components/Auth/Auth.tsx
Due: frontend

Add tests
  backend/command/src/events/item-events/item-edited.handler.ts
  backend/command/src/models/profile.model.ts
  backend/command/test/commands/item-delete-command.e2e-spec.ts
  backend/command/test/commands/item-edit-command.e2e-spec.ts
Due: command-backend

Add errors to editor
  frontend/src/components/Item/CreateEdit.tsx
Due: frontend

Add error handling to profile
  frontend/src/pages/account/profile.tsx
Due: frontend

Fix error handling for CreateEdit
  frontend/src/components/Item/CreateEdit.tsx
Due: frontend

Fix fixture
  frontend/cypress/fixtures/items/related.json
Due: frontend

Update fixture
  frontend/cypress/e2e/weights/pagination.cy.ts
  frontend/cypress/fixtures/items/list.json
Due: frontend

Add toast to contribute
  frontend/src/components/Item/CreateEdit.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/pages/_app.tsx
Due: frontend

Update error messages
  frontend/src/pages/account/profile.tsx
Due: frontend

Update error message
  frontend/src/components/Item/CreateEdit.tsx
Due: frontend

Remove comment
  frontend/src/pages/weights/[slug].tsx
Due: frontend

Add error handling to /weights page
  frontend/src/pages/weights/index.tsx
Due: frontend

Add error handling to /tags
  frontend/src/pages/tags/index.tsx
Due: frontend

Path conditions:
  auth-backend: any of: backend/auth
  command-backend: any of: backend/command
  image-backend: any of: backend/image
  query-backend: any of: backend/query
  frontend: any of: frontend
